{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TLMVLX5EB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2TLMVLX5EB');
</script>

<title>Big Blue | About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">        

    <body>
        
        <div class="about-us-container">
            <div class="about-us">
                <h3>About Big Blue</h3>
                <p>Created for the Homestead High School Golf Team (IN) to help make live scoring more accessible.</p>
            </div>
        </div>


        <div class="us-container">
            <div class="us">
                <img src="{{ url_for('static', filename='logo_graphics/us.png') }}">
                <h3>Us</h3>
                <p>Maxwell Klema - Co-founder and front/end - Married to CSS</p><br>
                <p>Grayson Welch - Co-founder and back/end - The Physicist</p><br>
                <p>Dominic DeLuca - Co-founder and back/end - The Secret Weapon</p>
            </div>
        </div>

        <div class="us-container">
            <div class="us">
                <img src="{{ url_for('static', filename='logo_graphics/megaphone.png') }}" style="width: 100px; height: 100px; margin-bottom: 15px;">
                <h3>In The News</h3>
                <p><a target="_blank" href="https://www.journalgazette.net/local/schools/student-spotlight-homestead-high-school-student-shines-with-robotics-work/article_8917d97a-f33c-11ed-b122-53c683a4ba1f.html" style="font-size: 12px; color: #2176E8;">[Dominic/Journal Gazette - 5/21/23]</a></p><br>
                <p></p><br>
                <p></p>
            </div>
        </div>


        <div class="contact-container">
            <div class="contact">
                <h3>Contact</h3>
                <p>For all business inquiries, threats, hate mail, and propaganda:</p><br>
                <p>support@bigblue.golf</p>
            </div>
        </div>





    </body>


{% endblock %}