{% extends "indexcontent.html" %}
{% block content %}

<title>Big Blue | Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">        
    <div id="container">


        <footer>
            <img src="{{ url_for('static', filename='logo graphics/bigbluewhite.png') }}" class="logofooter">
            <div class="footertext">
                <p>Ⓒ 2022 Big Blue, a MK, GW, DD creation. Fort Wayne, Indiana</p>
                
            </div>



        </footer>
    </div>
        



{% endblock %}