{% extends "indexcontent.html" %}
{% block content %}

<title>Big Blue | Match View</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">        
    {% for player in data['players'] %}
        <h3>{{player}}</h3>
        <ul>
            {% for strokes in data['players'][player]['scores'] %}
                <li>
                    Hole: {{strokes}}: {{data['players'][player]['scores'][strokes]}}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
        



{% endblock %}