{% extends "indexcontent.html" %}
{% block content %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TLMVLX5EB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2TLMVLX5EB');
</script>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
	<title>Admin Console</title>
    <script>
        var data = {};
        fetch("/return_user_data/123").then(data => data.json()).then(response => {
            data = response;
        });
        function tableCreate() {
            const body = document.body, 
            tbl = document.createElement('table');


            for (let i = 0; i <= Object.keys(data).length; i++) {
                const tr = tbl.insertRow();
                for (const j in data[i]) {
                    const td = tr.insertCell();
                    td.appendChild(document.createTextNode(data[i][j]));
                }
            }
            body.appendChild(tbl);
        }
    </script>

    <body>
        <div id="container">
            <div class="main">
                <h1>All Users</h1>
                <button onclick="tableCreate();">Show user table</button>
				
				</div>
            </div>
        </div>
    </body>
{% endblock %}