<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Dashboard</title>
    </head>
    <body>
        <h1>Welcome administrator!</h1>
        <button>Log out</button>
        <hr>
        <h3>Send Email Notification to Users</h3>
        <form>
            <textarea placeholder="Put message here..."></textarea>
            <br>
            <input type="submit">
        </form>
        <hr>
        <h3>View and Edit Database</h3>
    </body>
</html>