<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Login</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>Please log in...</p>
        <form action="#" method="post">
            <label>Username: </label>
            <input type="text" placeholder="spaceship123">
            <br>
            <label>Password: </label>
            <input type="text" placeholder="*******">
            <br>
            <input type="submit">
        </form>
    </body>
</html>