{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}

<title>Big Blue | Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">        

    <body>
        
        <div class="form-container">
            <form action="#" method="post">
                <img src="{{ url_for('static', filename='logo graphics/whistle.png') }}" alt="">
                {% if data %}
                <label for="joincode-box"></label><br>
                {% endif %}
                <label for="joincode-box">Enter Match Password:</label><br>
                <input placeholder="xxxxxx" type="text" id="joincode-box" name="code_entry"></input><br>
                <input type="submit" value="Join Match" name="submit-joincode" id="joincode-submit-button">
            </form>
        </div>


    </body>


{% endblock %}