{% if data1 == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data1 == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}

<title>Big Blue | Box Office</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">        

    <body>
        
        <div class="player-form-container">
            <form class="player-join-form" action="#" method="post">
                <img src="{{ url_for('static', filename='logo graphics/whistle.png') }}" alt="">
                {% if data %}
                    <h3 id="match-name-display">You are joining: <span style="color: #1b6cd7;">{{data.match_name}}</span></h3>
                {% endif %}
                <label for="enter-match-textbox">Enter Match Password:</label><br>
                <input type="password" id="enter-match-textbox" name="password_entry"></input><br>
                <label for="">Your Name:</label><br>
                <input placeholder="John Doe" type="text" id="enter-match-textbox" name="name_entry"></input><br>
                <label for="team-select">Your Team:</label><br>
                {% if data1[0] == 'Teams' %}
                <select id="team-select" name="team_select">
                    {% for team in data1[1] %}
                        <option value="{{team}}">{{team}}</option>
                    {% endfor %}
                </select>
                {% endif %}
                <input type="submit" value="Join Match" name="submit-joincode" id="joincode-submit-button">
            </form>
        </div>


    </body>

       

    </script>


{% endblock %}