{% extends "indexcontent.html" %}
{% block content %}

<head>
    <title>Choose Profile Picture | Big Blue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/chooseprofilepic-style.css') }}">
</head>



<div class="main-container">
    <form class="main-frame" method=post enctype=multipart/form-data action="/upload_profile_pic">
        <img id="profile-container" src="{{ url_for('static', filename='logo graphics/insertpiccamera.png') }}" alt="">
        <h2>Welcome {{data.name}}, let's set you up with a profile picture</h2>
        <div class="choose-file-container">
            <input style="background-color: white;" id="fileinput" type=file name=file>
        </div>
        <input id="form-submit" type=submit value=Upload>

        <a href="/newprofilepicture"><h5>Skip ➜</h5></a>
    </form>



</div>


{% endblock %}