{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TLMVLX5EB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2TLMVLX5EB');
</script>

<title>{{course_data.name}} | Big Blue</title> <!-- Change to Course Name Eventually -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/course-profile.css') }}">  

<div class="main-container">
    <div class="tee-container">
        <div class="basic-tee-information">
            <h3 id="course-name">{{course_data.name}} - Statistics/Information</h3>
            <p>Note: This is crowdsourced data and may not be accurate</p>
            <hr>
        </div>
        <div class="par-div">
            <h4 id="tee-information-header">Pars</h4>
            <table>
                <tr>
                    <th>Hole</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                </tr>
                {% for tee in list_of_tees %}
                    <tr>
                        <td>{{tee}}</td>
                        {% for i in range(0,18) %}
                            <td id="target_{{tee}}_{{i}}"></td>
                            <script>
                                fetch('/get_course_par/{{tee}}/{{i}}/{{course_data._id}}').then(thing => 
                                thing.json()).then(new1 => document.getElementById('target_{{tee}}_{{i}}').innerHTML = new1);
                            </script>
                        {% endfor %}
                    </tr>
                {% endfor %}
                
            </table>
        </div>

        <div class="yardage-div">
            <h4>Yardages</h4>
            <table>
                <tr>
                    <th>Hole</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                </tr>
                {% for tee in list_of_tees %}
                    <tr>
                        <td>{{tee}}</td>
                        {% for i in range(0,18) %}
                            <td id="target2_{{tee}}_{{i}}"></td>
                            <script>
                                fetch('/get_course_yardage/{{tee}}/{{i}}/{{course_data._id}}').then(thing => 
                                thing.json()).then(new1 => document.getElementById('target2_{{tee}}_{{i}}').innerHTML = new1);
                            </script>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="handicap-div">
            <h4>Handicaps</h4>
            <table>
                <tr>
                    <th>Hole</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                </tr>
                {% for tee in list_of_tees %}
                    <tr>
                        <td>{{tee}}</td>
                        {% for i in range(0,18) %}
                            <td id="target3_{{tee}}_{{i}}"></td>
                            <script>
                                fetch('/get_course_handicaps/{{tee}}/{{i}}/{{course_data._id}}').then(thing => 
                                thing.json()).then(new1 => document.getElementById('target3_{{tee}}_{{i}}').innerHTML = new1);
                            </script>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        

    
    
    
    
    
    
    
    </div>
    <div>
        <div class="general-stats-container">
            <div class="course-cover-image">
                <img src="{{ url_for('static', filename='logo_graphics/golf-course-cover-photo.jpg') }}" alt="">
            </div>
            <div class="basic-course-info">
                <h3 id="course-name">{{course_data.name}}</h3>
                <p>added by <span><a href="/profile/{{course_data.created_by}}">@{{course_data.created_by}}</a></span></p>
                <hr>
            </div>
            <div class="more-specific-course-information">
                <h5>Address</h5>
                <p>{{course_data.address}}</p>
            </div>
            <div class="more-specific-course-information">
                <h5>Par</h5>
                <p>72</p>
            </div>
            <div class="more-specific-course-information">
                <h5>Hole Count</h5>
                <p>{{course_data.holes}}</p>
            </div>
            <div class="more-specific-course-information">
                <h5>Number of Tees</h5>
                <p>{{ (course_data.tees).split(',') | length }}</p>
            </div>
            <div class="more-specific-course-information">
                <h5>Tee Names</h5>
                {% set tee_names = (course_data.tees).split(',') %}
                {% set tee_names = tee_names | replace("[", "") %}
                {% set tee_names = tee_names | replace("]", "") %}
                {% set tee_names = tee_names | replace("'", "") %}
                {% set tee_names = tee_names | replace('"', '') %}
                {% set tee_names = tee_names | replace(",", ", ") %}
                <p>{{ tee_names }}</p>
            </div>
            <a href="/add_favorite_course/{{course_data._id}}" id="add-course-button" >Add Course to Profile</a>
    
    
        </div>

        <div class="course-rating-container">
            <div class="courserating-cover-image">
                <img src="{{ url_for('static', filename='logo_graphics/wave_graphic.png') }}" alt="">
            </div>
            <div class="basic-course-info">
                <h3 id="course-name">Course Ratings</h3>
                <p>Used to calculate handicap</p>
                <hr>
            </div>
            <div class="more-specific-course-information">
                <h5>Red Tee</h5>
                <p>73.3/144</p>
            </div>
            <div class="more-specific-course-information">
                <h5>Blue Tee</h5>
                <p>75.3/137</p>
            </div>
            <div class="more-specific-course-information">
                <h5>White Tee</h5>
                <p>78.4/148</p>
            </div>
            <div class="more-specific-course-information">
                <h5>Gold Tee</h5>
                <p>79.1/141</p>
            </div>
           
    
    
        </div>

    </div>
    

</div>


















{% endblock %}
