{% extends "indexcontent.html" %}
{% block content %}
<title>Big Blue | Create a Match</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
<div class = "main">
    <h1>Create a Match:</h1>
    <form action="/match_dashboard" method="get">
        Event type: <br><input type="radio" name="eventtype" value="i"> Singles <br><input type="radio" name="eventtype" value="t"> Teams <br>
        Match type: <br><input type="radio" name="matchtype" value="s"> Strokeplay <br> <input type="radio" name="matchtype" value="m"> Matchplay  <br>
        <input type="submit">
    </form>
</div>
{% endblock %}