{% extends "indexcontent.html" %}
{% block content %}

<!--

names for different form elements

-name = name
-username = username
-password = password
-email = email
-gender = gender
affiliated team = team
account_type = rank
bio = bio


-->
   
    <head>
        <title>Big Blue | Create Account</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesignup.css') }}">

    </head>
    <body>
        <div class="form-container">
            <form action="#" method="post">
                
                <div class="row-one">
                    <div class="full-name">
                        <label for="name">Full Name</label>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="full-username">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username">
                    </div>
                </div>

                <div class="row-two">
                    <div class="full-password-one">
                        <label for="password-one">Password</label>
                        <input type="password" id="password-one" name="password">
                    </div>
                    <div class="full-password-two">
                        <label for="password-two">Confirm Password</label>
                        <input type="password" id="password-two" name="password">
                    </div>
                </div>

                <div class="row-three">
                    <div class="full-email">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email">
                    </div>
                    <div class="full-gender">
                        <label for="gender">Gender</label>
                        <select name="gender" id="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>

                <div class="row-four">
                    <div class="full-team">
                        <label for="team">Affiliated Team</label>
                        <input type="text" id="team" name="team">
                    </div>
                    <div class="full-rank">
                        <label for="rank">Account Type</label>
                        <select name="rank" id="rank">
                            <option value="coach">Coach</option>
                            <option value="player">Player</option>
                        </select>
                    </div>
                </div>

                <div class="row-five">
                    <label for="bio">Account Bio</label>
                    <textarea name="bio" id="bio"></textarea>
                </div>

                <input type="submit" value="Create Account" id="form-submit">
                

            </form>
        </div>        

    </body>
    
{% endblock %}