
{% extends "indexcontent.html" %}
{% block content %}

    <html>
        <head>
            <title>Big Blue | Create Match</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/creatematch.css') }}">


    <div id="container">
        <div class="main">
            <body>
                <div class="creatematch-container">
                    <form action="/create_match" method="post">
                        <div id="addgraphic">
                            <img src="{{ url_for('static', filename='logo graphics/golferreadingputt.png') }}">
                        </div>
                        <h1>Create a Match</h1>
                        <h2 style="color: rgb(248, 250, 115); margin-top: 10px; font-size: 1.2em;">
                            {% if message %}
                                {{message}}
                            {% endif %}
                        </h2>

                        <div class="basicmatchinfo">
                            <div class="eventtype">
                                <h2>Event Type</h2>
                                <div class="radiobuttonone">
                                    <input type="radio" name="eventtype" onclick="doSomethingTwo();" id="singles" value="s">
                                    <label for="singles">Singles</label>
                                </div>
                                <div class="radiobuttontwo">
                                    <input type="radio" name="eventtype" onclick="doSomething();" id="teams" value="t">
                                    <label for="teams">Teams</label>
                                </div>
                            </div>
                            <div class="matchtype">
                                <h2>Match Type</h2>
                                <div class="radiobuttonthree">
                                    <input type="radio" name="matchtype" id="strokeplay" value="strokeplay">
                                    <label for="strokeplay">Stroke Play</label>
                                </div>
                                <div class="radiobuttonfour">
                                    <input type="radio" name="matchtype" id="matchplay" value="matchplay">
                                    <label for="matchplay">Match Play</label>
                                </div>
                            </div>
                        </div>

                        
                        <div class="teams">
                            <div id="hometeam">
                                <p>Home Team</p>
                                <input type="text" name="hometeam">
                            </div>
                            
                            <div id="awayteam">
                                <p>Away Team</p>
                                <input type="text" name="awayteam">
                            </div>

                        </div>


                        <div class="players">
                            <div class="playerstext">
                                <h3 id="playertextone">Number of Players</h3>
                                <p id="playertexttwo"><i>Note: input the number of players, not spots. Spots are only used for team matches.</i></p>
                            </div>

                            <div class="playersinput">
                                <input type="number" name="numberofplayers">

                            </div>

                        </div>

                        <div class="matchcourse">
                            <div class="coursetext">
                                <h3>Name of Course</h3>
                            </div>

                            <div class="courseinput">
                                <input type="text" name="coursename">

                            </div>
                        </div>

                        <input id="creatematchbutton" type="submit" value="Create Match">

                       
                        





                        
                    </form>
                </div>
            </body>
            <footer>
                <img src="{{ url_for('static', filename='logo graphics/bigbluewhite.png') }}" class="logofooter">
                <div class="footertext">
                    <p>Ⓒ 2022 Big Blue, a MK, GW, DD creation. Fort Wayne, Indiana</p>
                </div>



            </footer>
        </div>
    </div>


        <script>

            var x = document.getElementById("hometeam");
            var y = document.getElementById("awayteam");

            function doSomething()
            {
                document.getElementById("playertextone").innerHTML = "Number of Spots";
                document.getElementById("playertexttwo").innerHTML = "Note: input the number of spots, not players. Spots consist of two players: one from each team.";
                x.style.display = "flex";
                y.style.display = "flex";
            }

            function doSomethingTwo()
            {
                document.getElementById("playertextone").innerHTML = "Number of Players";
                document.getElementById("playertexttwo").innerHTML = "Note: input the number of players, not spots. Spots are only used for team matches";
                x.style.display = "none";
                y.style.display = "none";
            }



        </script>
    </html>

    
{% endblock %}