<!DOCTYPE html>
{% extends "indexcontent.html" %}
{% block content %}

    <html>
        <head>
            <title>Big Blue | Login</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesignup.css') }}">


    <div id="container">
        <div class="main">
            <body>
                <div class="form-container">
                    <form action="#" method="post">
                        <div id="addgraphic">
                            <img src="{{ url_for('static', filename='logo graphics/newaccount.png') }}">
                        </div>
                        <h1>Create your Big Blue Account!</h1>
              
                        <p><i>Players are not forced to make accounts. It is only reccomended when they wish to save results.</i></p>
                        <h2 style="color: red;">
                            {% if message %}
                                {{message}}
                            {% endif %}
                        </h2>
                        <div class="name">
                            <div class="namename">
                                <h3>Name</h3>
                                <input type="text" name="name">
                            </div>
                            <div class="nameusername">
                                <h3>Username</h3>
                                <input type="text" name="username">
                            </div>
                           
                        </div>
                        <h3>Password</h3>
                        <input type="password" name="password">
                        <h3>Confirm Password</h3>
                        <input type="password">
                        <h3>Email</h3>
                        <input type="text" name="email">
                        <h3>Gender</h3>
                        <input type="text" name="gender">
                        
                        <h3>Tell Us About Yourself</h3>
                        <input type="text" name="bio">
                        <h3>Affiliated Team</h3>
                        <input type="text" name="team">
                        <h3>Account Type</h3>
                        <b>Coach</b> <input type="radio" name="rank" value="c">  <b>Player</b> <input type="radio" name="rank" value="p"><br>
                        <input type="submit">
                    </form>
                </div>
 
            </body>
            <footer>
                <img src="{{ url_for('static', filename='logo graphics/bigbluewhite.png') }}" class="logofooter">
                <div class="footertext">
                    <p>Ⓒ 2022 Big Blue, a MK, GW, DD creation. Fort Wayne, Indiana</p>
                </div>



            </footer>
        </div>
    </div>
{% endblock %}