{% extends "indexcontentcoachlogin.html" %}
{% block content %}

<html>
        <head>
            <title>Big Blue | Match Dashboard</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/profiledashboard.css') }}">
        </head>

    <div id="container">
        <div class="main">
            <body>
                <div class="grid-container">
                    
                </div>
            </body>
        
            <footer>
                <img src="{{ url_for('static', filename='logo graphics/bigbluewhite.png') }}" class="logofooter">
                <div class="footertext">
                    <p>Ⓒ 2022 Big Blue, a MK, GW, DD creation. Fort Wayne, Indiana</p>
                </div>



            </footer>
        </div>
        
    </div>
{% endblock %}