{% extends "indexcontentcoachlogin.html" %}
{% block content %}

<html>
        <head>
            <title>Big Blue | Match Dashboard</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/profiledashboard.css') }}">
        </head>

    <div id="container">
        <div class="main">
            <body>
                <div class="page-container">
                    <div class="mainsection">
                        <img id="banner" src="{{ url_for('static', filename='logo graphics/BigBlueBanner10.png') }}" alt="">
                        <div class="profilepicture-container">
                            <img id="profilepicture" src="{{ url_for('static', filename='logo graphics/errorpagephoto.jpg') }}" alt="">
                        </div>
                        <div class="edit-profile-container">
                            <button>Edit Profile</button>
                        </div>
                        
                        <div class="name-container">
                            <h2>Maxwell Klema</h2>
                            <img src="{{ url_for('static', filename='logo graphics/verify.png') }}" alt="">
                        </div>
                        <p id="username">@agileinx • Coach</p>
                        <p id="bio">Co-Founder of Defle and Big Blue</p>

                        <div class="profileinfo">
                            <div class="calender">
                                <img src="{{ url_for('static', filename='logo graphics/cake.png') }}" alt="">
                                <p>Joined June 1, 2022</p>
                            </div>
                            <div class="school">
                                <img src="{{ url_for('static', filename='logo graphics/schoolicon.png') }}" alt="">
                                <p>Homestead High School</p>
                            </div>
                            
                            
                        </div>

                        <!--
                        <div class="profilebuttons">
                            <button>Created Matches</button>
                            <button>Recent Matches</button>
                        </div>
                        <hr>
                        -->
                      

                    </div>
                    <!--
                    <div class="sidesection">

                    </div>
                    -->
                </div>
            </body>
        
            <footer>
                <img src="{{ url_for('static', filename='logo graphics/bigbluewhite.png') }}" class="logofooter">
                <div class="footertext">
                    <p>Ⓒ 2022 Big Blue, a MK, GW, DD creation. Fort Wayne, Indiana</p>
                </div>



            </footer>
        </div>
        
    </div>
{% endblock %}