{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TLMVLX5EB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2TLMVLX5EB');
</script>

<!-- 

{% if data.verified == True %}
                                <img src="{{ url_for('static', filename='logo_graphics/verify.png') }}" alt="">
                            {% else %}
                                <p style="font-size:xx-small;"> **Not verified</p>
                            {% endif %}

{{data.name}} // name
{{data.bio}} // bio
{{data.team}} //team


-->

    <head>
        <title>Big Blue | Profile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/profiledashboard.css') }}">
    </head>


    <div class="main-container">
        <div class="profile-frame">
            <div class="banner-container">
                <img id="banner" src="{{ url_for('static', filename='logo_graphics/' + data.banner) }}" alt="">
            </div>
            <div class="profile-picture-container">
                <img id="profilepicture" src="{{ url_for('static', filename='logo_graphics/user_photos/' + data.pic) }}" alt="">
            </div>
            <div class="username-and-verification-container">
                <h3>{{data.name}}</h3>
                {% if data.verified == 1 %}
                    <img src="{{ url_for('static', filename='logo_graphics/normalverify.png') }}" alt="">
                {% elif data.verified == 2 %}
                    <img src="{{ url_for('static', filename='logo_graphics/verify.png') }}" alt="">
                {% endif %}

            </div>
            <div class="username-and-rank-container">
                <h4>@{{data.username}}</h4>
                <h4 id="divider">•</h4>
                {% if data.rank == "coach" %}
                    <h4>Coach</h4>
                {% else %}
                    <h4>Player</h4>
                {% endif %}

            </div>
           
            <div class="bio-container">
                <p>{{data.bio}}</p>
            </div>

            <div class="join-date-and-school-container">
                <div class="join-date-container">
                    <img src="{{ url_for('static', filename='logo_graphics/cake.png') }}" alt="">
                    <h4 id="join-date">Joined in {{month }} {{ year }}</h4>
                </div>
                <div class="school-name-container">
                    <img id="school-icon"src="{{ url_for('static', filename='logo_graphics/schoolicon.png') }}" alt="">
                    <h4>{{data.team}}</h4>
                </div>
            </div>

            <div class="row-one-buttons">
                <a id="match-dashboard-href" href="/match_dashboard">
                    <button>
                        <div class="match-dashboard-container">
                            <!--<img id="dashboard-icon" src="{{ url_for('static', filename='logo_graphics/dashboardicon.png') }}" alt="">-->
                            <h3>Dashboard</h3>
                        </div>
                    </button>
                </a>
                <a id="create-match-href" href="/create_match">
                    <button>
                        <h3>Create Match</h3>
                    </button>
                </a>
            </div>


            <div class="row-two-buttons">
                <a id="add-new-course-href" href="/create_course">
                    <button>
                        <div class="add-new-course-container">
                            <!--<img src="{{ url_for('static', filename='logo_graphics/golfholeicon.png') }}" alt="">-->
                            <h3>Add New Course</h3>
                        </div>
                    </button>
                </a>
                <a id="edit-profile-href" href="/dashboard/edit_profile">
                    <button>
                        <div class="edit-profile-container">
                            <!--<img src="{{ url_for('static', filename='logo_graphics/penciliconprofile.png') }}" alt="">-->
                            <h3>Edit Profile</h3>
                        </div>
                    </button>
                </a>
            </div>
        </div>
        
        

        <div>


            <!--You need to write match[0] before accessing any of the json attributes
            This is because it is in a tuple and needs to be accessed first-->
            <div class="suggested-users">
                <h3>Your Recent Matches</h3>
                
                {% for match in recent_matches[:2] %}
                    <div class="recent-match-container">
                        <div class="reload-icon">
                            <h1>⟲</h1>
                        </div>
                        <div class="past-match-info">
                            <h4>{{match[0]["match_info"]["match_name"]}}</h4> <!--Json data from archive!-->
                            <p color="blue">{{match[1]}}</p> <!--Time that the match ended-->
                        </div>
                    </div>
                    
                    
                    
                {% endfor %}
            </div>


            <!-- Suggest Users to View/Follow -->
            <div class="suggested-users">
                <h3>You may know</h3>
                {% for i in random_users_list %}
                    <div class="random-user-one">
                        <a href="/profile/{{i.username}}">
                            <div>
                                <img src="{{ url_for('static', filename='logo_graphics/user_photos/' + i.pic) }}" alt="">
                            </div>
                            <div>
                                <div class="name-and-verification">
                                    <h4 id="suggested-name">{{i.name}}</h4>
                                    {% if i.verified == 1 %}
                                        <img id="checkmark" src="{{ url_for('static', filename='logo_graphics/normalverify.png') }}" alt="">
                                    {% elif i.verified == 2 %}
                                        <img id="checkmark" src="{{ url_for('static', filename='logo_graphics/verify.png') }}" alt="">
                                    {% endif %}
                                </div>
                                <h5 id="suggested-username">@{{i.username}}</h5>
                            </div>


                        </a>
                    

                    </div>
                {% endfor %}
            </div>

            
        
        </div>
    </div>

    

{% endblock %}
