
{% extends "indexcontent.html" %}
{% block content %}

<!-- 

{% if data.verified == True %}
                                <img src="{{ url_for('static', filename='logo graphics/verify.png') }}" alt="">
                            {% else %}
                                <p style="font-size:xx-small;"> **Not verified</p>
                            {% endif %}

{{data.name}} // name
{{data.bio}} // bio
{{data.team}} //team


-->

    <head>
        <title>Big Blue | Edit Profile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/edit_profile.css') }}">
    </head>

    <body>


        <div class="main-container">
            <div class="main-frame">
                <div class="left-side">
                    <a style="cursor: pointer;" onclick="myFunctionTwo()">Basic Info</a><br>
                    <a style="cursor: pointer; margin-top: 5px;" onclick="myFunction()">Profile Picture</a>
                </div>
                <div class="right-side">
                    <form method=POST name="Form" id="info-form" action="/edit_user_profile">
                        <h3>Basic Information</h3><br>
                        <label for="name">Name</label><br>
                        <input maxlength="16" onfocusout="checkFullName()" class="inputbox" id="name" value="{{data.name}}" name="name" type="text"><br>
                        <label for="email">Email</label><br>
                        <input maxlength="50" onfocusout="checkEmails()" class="inputbox" type="email" name="email" id="email" value="{{data.email}}"><br>
                        <label for="team">Team</label><br>
                        <input maxlength="16" onfocusout="checkTeam()" class="inputbox" type="text" name="team" id="team" value="{{data.team}}"><br>
                        <label for="bio">Bio</label><br>
                        <textarea maxlength="150" onfocusout="checkBio()" name="bio" id="bio">{{data.bio}}</textarea>

                        <input type="submit" onclick="return validateForm()" value="Save Changes" id="form-submit">
                    </form>

                    <form method=post id="profile-picture-form" enctype=multipart/form-data action="/upload_profile_pic" style="display: none;">
                        <h3>Profile Picture</h3><br>
                        <input style="background-color: white;" id="fileinput" type=file name=file><br>
                        <input id="form-submit" type=submit value=Upload>



                    </form>

                    
                    
                    
                </div>
            </div>


        </div>

    <script>

        function validateForm() {
            var a = document.forms["Form"]["name"].value;
            var b = document.forms["Form"]["email"].value;
            var c = document.forms["Form"]["team"].value;
            var d = document.forms["Form"]["bio"].value;
            if (((a == null || a == "") || (b == null || b == "")) || ((c == null || c == "") || (d == null || d == ""))) {
                
    
                //checks full name
                let full_name = document.getElementById("name");
                if (full_name.value == ""){
                    full_name.style.borderColor = "red";
                } else {
                    full_name.style.borderColor = "black";
                }

                
                //checks email
                let email = document.getElementById("email");
                if (email.value == ""){
                    email.style.borderColor = "red";
                } else {
                    email.style.borderColor = "black";
                }

                
                //checks team
                let team = document.getElementById("team");
                if (team.value == ""){
                    team.style.borderColor = "red";
                } else {
                    team.style.borderColor = "black";
                }

                
                //checks bio
                let bio = document.getElementById("bio");
                if (bio.value == ""){
                    bio.style.borderColor = "red";
                } else {
                    bio.style.borderColor = "black";
                }

                return false;

                
        
            }
        }
  
        function myFunction() {
            document.getElementById("profile-picture-form").style.display = "block";
            document.getElementById("info-form").style.display = "none";
        }

        function myFunctionTwo() {
            document.getElementById("profile-picture-form").style.display = "none";
            document.getElementById("info-form").style.display = "block";
        }
        
        function checkFullName(){
            let full_name = document.getElementById("name");
            if (full_name.value == ""){
                full_name.style.borderColor = "red";
            } else {
                full_name.style.borderColor = "black";
            }
        }


        function checkEmails() {
            let email = document.getElementById("email");
            if (email.value == ""){
                email.style.borderColor = "red";
            } else {
                email.style.borderColor = "black";
            }
        }

        function checkTeam() {
            let team = document.getElementById("team");
            if (team.value == ""){
                team.style.borderColor = "red";
            } else {
                team.style.borderColor = "black";
            }
        }

        function checkBio() {
            let bio = document.getElementById("bio");
            if (bio.value == ""){
                bio.style.borderColor = "red";
            } else {
                bio.style.borderColor = "black";
        }

    }

    </script>
        













    </body>








{% endblock %}