{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}
<!-- 

{% if data.verified == True %}
                                <img src="{{ url_for('static', filename='logo graphics/verify.png') }}" alt="">
                            {% else %}
                                <p style="font-size:xx-small;"> **Not verified</p>
                            {% endif %}

{{data.name}} // name
{{data.bio}} // bio
{{data.team}} //team


-->

    <head>
        <title>Big Blue | Edit Profile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/edit_profile.css') }}">
    </head>

    <body>


        <div class="main-container">
            <div class="main-frame">
                <div class="left-side">
                    <a style="cursor: pointer;" onclick="myFunctionTwo()">Basic Info</a><br>
                    <a style="cursor: pointer; margin-top: 5px;" onclick="myFunction()">Profile Picture</a><br>
                    <a style="cursor: pointer; margin-top: 5px;" onclick="myFunctionThree()">Banner</a>
                </div>
                <div class="right-side">
                    <form method=POST name="Form" id="info-form" action="/edit_user_profile">
                        <h3>Basic Information</h3><br>
                        <label for="name">Name</label><br>
                        <input maxlength="25" onfocusout="checkFullName()" class="inputbox" id="name" value="{{data.name}}" name="name" type="text"><br>
                        <label for="email">Email</label><br>
                        <input maxlength="100" onfocusout="checkEmails()" class="inputbox" type="email" name="email" id="email" value="{{data.email}}"><br>
                        <label for="team">Team</label><br>
                        <input maxlength="25" onfocusout="checkTeam()" class="inputbox" type="text" name="team" id="team" value="{{data.team}}"><br>
                        <label for="bio">Bio</label><br>
                        <textarea maxlength="150" onfocusout="checkBio()" name="bio" id="bio">{{data.bio}}</textarea>

                        <input type="submit" onclick="return validateForm()" value="Save Changes" id="form-submit">
                    </form>

                    <form method=post id="profile-picture-form" enctype=multipart/form-data action="/upload_profile_pic" style="display: none;">
                        <h3>Profile Picture</h3><br>
                        <input style="background-color: white;" id="fileinput" type=file name=file><br>
                        <input id="form-submit" type=submit value=Upload>



                    </form>

                    <form method=post id="profile-banner-form" enctype=multipart/form-data action="/choose_banner" style="display: none;">
                        <h3>Profile Banner</h3><br>
                        <label id="label-one" for="banner-one">
                            <input onclick="bannerselect('one');" id="banner-one" type="radio" name="banner" value="BigBluebanner.png">
                            <img id="banner-img-one" src="{{ url_for('static', filename='logo graphics/BigBluebanner.png') }}" alt="">
                        </label>
                        <label id="label-two" for="banner-two">
                            <input onclick="bannerselect('two');" id="banner-two" type="radio" name="banner" value="BigBlueBanner2.png">
                            <img id="banner-img-two" src="{{ url_for('static', filename='logo graphics/BigBlueBanner2.png') }}" alt="">
                        </label>
                        <label id="label-three" for="banner-three">
                            <input onclick="bannerselect('three');" id="banner-three" type="radio" name="banner" value="BigBlueBanner3.png">
                            <img id="banner-img-three" src="{{ url_for('static', filename='logo graphics/BigBlueBanner3.png') }}" alt="">
                        </label>
                        <label id="label-four" for="banner-four">
                            <input onclick="bannerselect('four');" id="banner-four" type="radio" name="banner" value="BigBlueBanner4.png">
                            <img id="banner-img-four" src="{{ url_for('static', filename='logo graphics/BigBlueBanner4.png') }}" alt="">
                        </label>
                        <label id="label-five" for="banner-five">
                            <input onclick="bannerselect('five');" id="banner-five" type="radio" name="banner" value="BigBlueBanner5.png">
                            <img id="banner-img-five" src="{{ url_for('static', filename='logo graphics/BigBlueBanner5.png') }}" alt="">
                        </label>
                        <label id="label-six" for="banner-six">
                            <input onclick="bannerselect('six');" id="banner-six" type="radio" name="banner" value="BigBlueBanner6.png">
                            <img id="banner-img-six" src="{{ url_for('static', filename='logo graphics/BigBlueBanner6.png') }}" alt="">
                        </label>
                        <label id="label-seven" for="banner-seven">
                            <input onclick="bannerselect('seven');" id="banner-seven" type="radio" name="banner" value="BigBlueBanner7.png">
                            <img id="banner-img-seven" src="{{ url_for('static', filename='logo graphics/BigBlueBanner7.png') }}" alt="">
                        </label>
                        <label id="label-eight" for="banner-eight">
                            <input onclick="bannerselect('eight');" id="banner-eight" type="radio" name="banner" value="BigBlueBanner8.png">
                            <img id="banner-img-eight" src="{{ url_for('static', filename='logo graphics/BigBlueBanner8.png') }}" alt="">
                        </label>
                        <label id="label-nine" for="banner-nine">
                            <input onclick="bannerselect('nine');" id="banner-nine" type="radio" name="banner" value="BigBlueBanner9.png">
                            <img id="banner-img-nine" src="{{ url_for('static', filename='logo graphics/BigBlueBanner9.png') }}" alt="">
                        </label>
                        <label id="label-ten" for="banner-ten">
                            <input onclick="bannerselect('ten');" id="banner-ten" type="radio" name="banner" value="BigBlueBanner10.png">
                            <img id="banner-img-ten" src="{{ url_for('static', filename='logo graphics/BigBlueBanner10.png') }}" alt="">
                        </label>

                        <input id="form-submit" type=submit value="Select Banner">



                    </form>

                    
                    
                    
                </div>
            </div>


        </div>

    <script>


        function bannerselect(banner) {
            //array of all banners
            banner_list=['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
            
            //checks radiobutton onclick
            for (i = 0; i < banner_list.length; i++){
                if (banner == banner_list[i]){
                    radioButton = document.getElementById("banner-"+banner);
                    radioButton.checked=true;

                    //gets image by ID and changes background and border color
                    bannerImage = document.getElementById("banner-img-"+banner);
                    bannerImage.style.borderColor="#408aed";
                    bannerImage.style.backgroundColor="#9bbce8";


                } else if (banner != banner_list[i]) {
                    radioButton = document.getElementById("banner-"+banner_list[i]);
                    radioButton.checked=false;

                    //gets image by ID and changes background and border color
                    bannerImage = document.getElementById("banner-img-"+banner_list[i]);
                    bannerImage.style.borderColor="#c0c0c0";
                    bannerImage.style.backgroundColor="#f3f3f391";
                }
            }






        }

        function validateForm() {
            var a = document.forms["Form"]["name"].value;
            var b = document.forms["Form"]["email"].value;
            var c = document.forms["Form"]["team"].value;
            var d = document.forms["Form"]["bio"].value;
            if (((a == null || a == "") || (b == null || b == "")) || ((c == null || c == "") || (d == null || d == ""))) {
                
    
                //checks full name
                let full_name = document.getElementById("name");
                if (full_name.value == ""){
                    full_name.style.borderColor = "red";
                } else {
                    full_name.style.borderColor = "black";
                }

                
                //checks email
                let email = document.getElementById("email");
                if (email.value == ""){
                    email.style.borderColor = "red";
                } else {
                    email.style.borderColor = "black";
                }

                
                //checks team
                let team = document.getElementById("team");
                if (team.value == ""){
                    team.style.borderColor = "red";
                } else {
                    team.style.borderColor = "black";
                }

                
                //checks bio
                let bio = document.getElementById("bio");
                if (bio.value == ""){
                    bio.style.borderColor = "red";
                } else {
                    bio.style.borderColor = "black";
                }

                return false;

                
        
            }
        }
  
        function myFunction() {
            document.getElementById("profile-picture-form").style.display = "block";
            document.getElementById("info-form").style.display = "none";
            document.getElementById("profile-banner-form").style.display = "none";
        }

        function myFunctionTwo() {
            document.getElementById("profile-picture-form").style.display = "none";
            document.getElementById("profile-banner-form").style.display = "none";
            document.getElementById("info-form").style.display = "block";
        }

        function myFunctionThree() {
            document.getElementById("profile-picture-form").style.display = "none";
            document.getElementById("info-form").style.display = "none";
            document.getElementById("profile-banner-form").style.display = "block";
        }
        
        function checkFullName(){
            let full_name = document.getElementById("name");
            if (full_name.value == ""){
                full_name.style.borderColor = "red";
            } else {
                full_name.style.borderColor = "black";
            }
        }


        function checkEmails() {
            let email = document.getElementById("email");
            if (email.value == ""){
                email.style.borderColor = "red";
            } else {
                email.style.borderColor = "black";
            }
        }

        function checkTeam() {
            let team = document.getElementById("team");
            if (team.value == ""){
                team.style.borderColor = "red";
            } else {
                team.style.borderColor = "black";
            }
        }

        function checkBio() {
            let bio = document.getElementById("bio");
            if (bio.value == ""){
                bio.style.borderColor = "red";
            } else {
                bio.style.borderColor = "black";
        }

    }

    </script>
        













    </body>








{% endblock %}