{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}
<!--


    numberholes
    course-name
    city
    holeparx (x=hole number)
    <form action="/create_course" method="post">
-->
    


    <title>Big Blue | Add Course</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/createcourse.css') }}">


    <body onload="onload()">
        <div class="form-container">
            <form action="/edit_course/{{editing._id}}" method="post">
                <img id="form-image-edit" src="{{ url_for('static', filename='logo_graphics/editmatchicon.png') }}" alt="">
                <h3>Edit Your Course</h3>
                {% if message %}
                    <h5 id="error">{{message}}</h5>
                    <script>
                        if (document.getElementById("error").innerHTML == "Course created sucsessfully!"){
                            document.getElementById("error").style.color = "#2176e8";
                        }
                    </script>   
                {% endif %}
                <div class="row-one">
                    <div>
                        <label for="number-holes">Number of Holes</label><br>
                        <select onfocusout="hideparholes()" name="numberholes" id="number-holes">
                            {% if editing.course_holes == "9" %}
                                <option name="numberholes" value="18">18</option>
                                <option name="numberholes" value="9" selected>9</option>
                            {% else %}
                                <option name="numberholes" value="9">9</option>
                                <option name="numberholes" value="18" selected>18</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="responsive-one">
                        <label for="course-name">Course Name</label><br>
                        <input onfocusout="hidename()" value="{{editing.course_name}}" maxlength="30" type="text" name="course-name" id="course-name">
                    </div>
                </div>
                <div class="row-two">
                    <label for="city">City or Address</label><br>
                    <input onfocusout="hidecity()" value="{{editing.city}}" placeholder="EX: 11502 Illinois Rd, Fort Wayne, IN 46814" maxlength="100" type="text" name="city" id="city">
                </div>
                <div class="row-three">
                    <div>
                        <label for="holepar1">Hole 1 Par</label><br>
                        <input value="{{editing.par1}}" onfocusout="hideparone()" maxlength="1" type="number" name="holepar1" id="holepar1">
                    </div>
                    <div class="responsive-three">
                        <label for="holepar2">Hole 2 Par</label><br>
                        <input value="{{editing.par2}}" onfocusout="hidepartwo()" maxlength="1" type="number" name="holepar2" id="holepar2">
                    </div>
                </div>
                <div class="row-four">
                    <div>
                        <label for="holepar3">Hole 3 Par</label><br>
                        <input value="{{editing.par3}}" onfocusout="hideparthree()" maxlength="1" type="number" name="holepar3" id="holepar3">
                    </div>
                    <div class="responsive-four">
                        <label for="holepar4">Hole 4 Par</label><br>
                        <input value="{{editing.par4}}" onfocusout="hideparfour()" maxlength="1" type="number" name="holepar4" id="holepar4">
                    </div>
                </div>
                <div class="row-five">
                    <div>
                        <label for="holepar5">Hole 5 Par</label><br>
                        <input value="{{editing.par5}}" onfocusout="hideparfive()" maxlength="1" type="number" name="holepar5" id="holepar5">
                    </div>
                    <div class="responsive-five">
                        <label for="holepar6">Hole 6 Par</label><br>
                        <input value="{{editing.par6}}" onfocusout="hideparsix()" maxlength="1" type="number" name="holepar6" id="holepar6">
                    </div>
                </div>
                <div class="row-six">
                    <div>
                        <label for="holepar7">Hole 7 Par</label><br>
                        <input value="{{editing.par7}}" onfocusout="hideparseven()" maxlength="1" type="number" name="holepar7" id="holepar7">
                    </div>
                    <div class="responsive-six">
                        <label for="holepar8">Hole 8 Par</label><br>
                        <input value="{{editing.par8}}" onfocusout="hidepareight()" maxlength="1" type="number" name="holepar8" id="holepar8">
                    </div>
                </div>
                <div class="row-seven">
                    <div>
                        <label for="holepar9">Hole 9 Par</label><br>
                        <input value="{{editing.par9}}" onfocusout="hideparnine()" maxlength="1" type="number" name="holepar9" id="holepar9">
                    </div>
                    <div class="responsive-seven">
                        <label id="label-10" for="holepar10">Hole 10 Par</label><br>
                        <input value="{{editing.par10}}" onfocusout="hideparten()" maxlength="1" type="number" name="holepar10" id="holepar10">
                    </div>
                </div>
                <div id="row-eight">
                    <div id="inner-divTwo">
                        <label id="label-11" for="holepar11">Hole 11 Par</label><br>
                        <input value="{{editing.par11}}" onfocusout="hidepareleven()" maxlength="1" type="number" name="holepar11" id="holepar11">
                    </div>
                    <div id="inner-div">
                        <label id="label-12" for="holepar12">Hole 12 Par</label><br>
                        <input value="{{editing.par12}}" onfocusout="hidepartwelve()" maxlength="1" type="number" name="holepar12" id="holepar12">
                    </div>
                </div>
                <div id="row-nine">
                    <div id="inner-divTwo">
                        <label id="label-13" for="holepar13">Hole 13 Par</label><br>
                        <input value="{{editing.par13}}" onfocusout="hideparthirteen()" maxlength="1" type="number" name="holepar13" id="holepar13">
                    </div>
                    <div id="inner-div">
                        <label id="label-14" for="holepar14">Hole 14 Par</label><br>
                        <input value="{{editing.par14}}" onfocusout="hideparfourteen()" maxlength="1" type="number" name="holepar14" id="holepar14">
                    </div>
                </div>
                <div id="row-ten">
                    <div id="inner-divTwo">
                        <label id="label-15" for="holepar15">Hole 15 Par</label><br>
                        <input value="{{editing.par15}}" onfocusout="hideparfifteen()" maxlength="1" type="number" name="holepar15" id="holepar15">
                    </div>
                    <div id="inner-div">
                        <label id="label-16" for="holepar16">Hole 16 Par</label><br>
                        <input value="{{editing.par16}}" onfocusout="hideparsixteen()" maxlength="1" type="number" name="holepar16" id="holepar16">
                    </div>
                </div>
                <div id="row-eleven">
                    <div id="inner-divTwo">
                        <label id="label-17" for="holepar17">Hole 17 Par</label><br>
                        <input value="{{editing.par17}}" onfocusout="hideparseventeen()" maxlength="1" type="number" name="holepar17" id="holepar17">
                    </div>
                    <div id="inner-div">
                        <label id="label-18" for="holepar18">Hole 18 Par</label><br>
                        <input value="{{editing.par18}}" onfocusout="hidepareightteen()" maxlength="1" type="number" name="holepar18" id="holepar18">
                    </div>
                </div>

                <input type="submit" onclick="return validateForm()" value="Save Course" id="add-course-button">
                
                <script src="{{ url_for('static', filename='Javascript Files/create_course.js') }}">



                </script>




            </form>
        </div>

    </body>
        
{% endblock %}