{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TLMVLX5EB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2TLMVLX5EB');
</script>

<html>

<head>
    <title>Email Verification | Big Blue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/email_verification.css') }}">

    <div class="form-container">
        <form action="#" method='POST'>
            <img src="{{ url_for('static', filename='logo_graphics/email.png') }}" alt="">
            <h2>Email Verification</h2>
            <p>We sent an email with a verification code to {{email}}. </p>
            {% if message %}
                    <h5 id="error">{{message}}</h5>    
                {% endif %}
            <label for="token_input">Enter Code:</label>
            <input type="text" placeholder="EX: qudUlM" name="token_input" id="token_input"><br>
            <input type="submit" id="submit_code_button" value="Verify Email">
        </form>

        <div class="resend-verification-container">
            <div class="resend-verification">
                <h5>Don't see the email? <a href="/create_account/email_verification/resend_email/{{email}}">Resend New Verification Code</a>">Resend new one</a></h5>
            </div>
        </div>
        
    </div>

</head>


</html>

{% endblock %}