{% extends "indexcontent.html" %}
{% block content %}
    <!DOCTYPE html>
    <html>
        <head>
            <title>Big Blue | Error</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleerrorpage.css') }}">
            
        
        </head>

        <body>
            
            <div class="main-container">
                <div class="main-frame">
                    <img src="{{ url_for('static', filename='logo_graphics/warning.png') }}" alt="">
                    <h3>Error</h3>
                    <h5>Looks like you hit your 4 iron into the rough on this hole</h5>
                    <h6>{{message}}</h6>
                    <button onclick="history.back()">Go Back</button>
                </div>


            </div>

        </body>

        
    </html>
{% endblock %}

