{% extends "indexcontent.html" %}
{% block content %}
    <!DOCTYPE html>
    <html>
        <head>
            <title>Big Blue | Home</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleerrorpage.css') }}">
            
        
        </head>

        <div id="container">
            <div class="main">
                <body>
                    
                    <div class="errorcontainer">
                        <div class="errormessage">
                            <div id="addgraphic">
                                <img src="{{ url_for('static', filename='logo graphics/error.png') }}">
                            </div>
                            <h1>Uh oh! An Error Occured</h1>
                            <img src="{{ url_for('static', filename='logo graphics/errorpagephoto.jpg') }}" alt=""">
                            <p>{{message}}</p>
                        </div>
                    </div>
        
                    
                
        
        
        
                  
                </body>
                <footer>
                    <img src="{{ url_for('static', filename='logo graphics/bigbluewhite.png') }}" class="logofooter">
                    <div class="footertext">
                        <p>Ⓒ 2022 Big Blue, a MK, GW, DD creation. Fort Wayne, Indiana</p>
                    </div>
        
        
        
                </footer>

            </div>
        </div>
        
    </html>
{% endblock %}

