{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2TLMVLX5EB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2TLMVLX5EB');
    </script>

    <html>

    <head>
        <title>Forgot Password | Big Blue</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/forgot_password.css') }}">
    </head>

    <div class="form-container">
        <form action="/reset_password_with_username/" id="username-form" method="post">

            <img src="{{ url_for('static', filename='logo_graphics/username_graphic.png') }}" alt="">
            <h3>Enter Username</h3>
            {% if message %}
                <h5 id="error">{{message}}</h5>    
            {% endif %}

            <label for="username-input">Enter Username</label><br>
            <input maxlength="25" minlength="3" type="text" placeholder="EX: maxklema" id="username-input" name="username-input">
            <br>

            <input id="form-submit" value="Continue" type="submit">

        </form>
    </div>

    <script>
        
        //changes form route to append username
        document.getElementById("username-form").onsubmit = function() {
            var query = document.getElementById("username-input").value;
            this.action = this.action + query;

        }


    </script>


{% endblock %}