<!DOCTYPE html>

<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/headerstyle.css') }}">

    </head>

    <body>
        
        <header>
            <img src="{{ url_for('static', filename='logo graphics/bigbluewhite.png') }}" class="logo">
            <ul class="navigation">
                <li><a href="/login">Login</a></li>
                <li><a href="#">About</a></li>
            </ul>


        </header>







    </body>


</html>