


<!DOCTYPE html>


<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo_graphics/favicon.ico') }}">

    </head>

    <body>

        <header>
            <a href="/">
                <img id="logo-image" src="{{ url_for('static', filename='logo_graphics/BigBlue_NewLogo-White.png') }}" class="logo">
            </a>
            <ul class="navigation">
                <li><a href="/logout">Logout</a></li>
                <li><a href="/dashboard">{{data.username}}</a></li>
                <li><a href=""><img id="profile-pic" src="{{ url_for('static', filename='logo_graphics/user_photos/' + data.pic) }}" alt=""></a></li>
            </ul>


        </header>

        {% block content %}
            
        {% endblock %}

    
        










    </body>

    <footer>
        <div>
            <div>
                <div class="big-blue-copyright">
                    <img id="basic-golfer-image" src="{{ url_for('static', filename='logo_graphics/basicgolfergrey.png') }}" class="logo">
                    <p>© 2023 Big Blue. No Rights Reserved</p>
                </div>
                <div>
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/joincode">Join Match</a>
                    <a href="/login">Login</a>
                    <a href="/create_account">Sign Up</a>
                    <a href="/dashboard">Profile</a>
                    <a href="/match_dashboard">Match Dashboard</a>
                    <a href="/course_dashboard">Course Dashboard</a>
                    <a href="https://twitter.com/bigbluegolfapp" id="twitter_href">Twitter</a>
                </div>


               
            </div>
            
        </div>

    </footer>









</html>

