
<!DOCTYPE html>


<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

        <header>
            <a href="/">
                <img src="{{ url_for('static', filename='logo graphics/bigbluewhite.png') }}" class="logo">
            </a>
            <ul class="navigation">
                <li><a href="/login">Login</a></li>
                <li><a href="#">About</a></li>
            </ul>


        </header>-->

        {% block content %}
            
        {% endblock %}

    
        










    </body>









</html>

