


<!DOCTYPE html>


<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

        <header>
            <a href="/">
                <img src="{{ url_for('static', filename='logo graphics/bigbluewhite.png') }}" class="logo">
            </a>
            <ul class="navigation">
                <li><a href="/match_dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/dashboard">{{data.username}}</a></li>
                <li><a href=""><img id="profile-pic" src="{{ url_for('static', filename='logo graphics/user_photos/' + data.pic) }}" alt=""></a></li>
            </ul>


        </header>

        {% block content %}
            
        {% endblock %}

    
        










    </body>









</html>

