{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TLMVLX5EB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2TLMVLX5EB');
</script>


<title>Home | Big Blue</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">        

    <body>
        
        <div class="form-container">
            <form action="/joincode" method="post">
                <label for="joincode-box">Enter Join Code</label><br>
                <input placeholder="094x3a" type="text" id="joincode-box" name="code_entry"></input><br>
                <input type="submit" value="Join Match" name="submit-joincode" id="joincode-submit-button">
            </form>
        </div>


        <div class="Login-or-create-account-div">
            <p>Have an existing account? <a id="hyperlink" href="/login">Login</a></p>
        </div>

        <div class="coaches-card-container">
            <div class="coaches-card">
                <img src="{{ url_for('static', filename='logo_graphics/coach-whistle.png') }}">
                <h3>Big Blue for Players & Coaches</h3>
                <p>Big Blue is made for coaches and players. Whether you want to set up your own live scoring matches with our easy to use platform, or build your athletic profile, Big Blue is the right place for you.</p>
                <a href="/create_account"><button>Create Account</button></a>
            </div>
        </div>

        <div class="coaches-card-container">
            <div class="coaches-card">
                <img id="bigblueshirt" src="{{ url_for('static', filename='logo_graphics/bigblueshirt.png') }}">
                <h3>Want a BigBlue.golf Shirt?</h3>
                <p>Email max@bigblue.golf</p>
            </div>
        </div>


        <div class="coaches-card-container">
            <div class="coaches-card">
                <img src="{{ url_for('static', filename='logo_graphics/twitter_graphic.png') }}">
                <h3>Follow us on Twitter!</h3>
                <p>We post everything on Twitter, including updates, outages, bugs, patches, and occasional controversial political tweets - just kidding!</p>
                <a href="https://twitter.com/bigbluegolfapp" target="_blank"><button>Follow us!</button></a>
            </div>
        </div>

        <div class="about-us-card">
            <div class="about-us-index-container">
                <img src="{{ url_for('static', filename='logo_graphics/friends.png') }}" alt="">
                <h3>Made by Golfers, for Golfers & Coaches</h3>
                <p>Created by three high school golfers, we understand the value that live scoring brings. Other live scoring sites are expensive, look ugly, and are hard to use. We fixed all of these problems, making Big Blue easy and FREE to use!</p>
                <a href="/about"><button>Learn More</button></a>

            </div>



        </div>

        
        







    </body>


{% endblock %}