
<!DOCTYPE html>


<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo graphics/favicon.ico') }}">

    </head>

    <body>

        <header>
            <a href="/">
                <img src="{{ url_for('static', filename='logo graphics/bigbluewhite.png') }}" class="logo">
            </a>
            <ul class="navigation">
                <li><a href="#">Dashboard</a></li>
                <li><a href="/dashboard">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>


        </header>

        {% block content %}
            
        {% endblock %}

    
        










    </body>









</html>

