
<!DOCTYPE html>



<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo_graphics/favicon.ico') }}">

    </head>

    <body>

        <header>
            <a href="/">
                <img id="logo-image" src="{{ url_for('static', filename='logo_graphics/BigBlue_NewLogo-White.png') }}" class="logo">
            </a>
            <ul class="navigation">
                <li><a href="/joincode">Join Match</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About</a></li>
                <form id="search-form" action="/search/" method="post">
                    <input id="searchbar" name="searchbar" type="text" placeholder="search users, courses"></input>
                </form>
            </ul>
            <button id="menu-button" onclick="openMenu();" hidden><h1 class="mobile-navigation" id="hamburger-icon" style="color: white;" hidden>☰</h1></button>
                                            
        </header>

        <div class="mobile-hrefs">
            <div class="close-button-container">
                <button id="close-menu-button" onclick="closeMenu();"><h1>✕</h1></button>
            </div>
            <div class="content-container">
                <a href="/joincode">Join Match</a>
                <a href="/search/maxklema">Search</a>
                <a href="/login">Login</a>
                <a href="/about">About</a>
            </div>
    
        </div> 

        <script>

            document.getElementById("search-form").onsubmit = function() {
                var query = document.getElementById("searchbar").value;
                if (query == ""){
                    query = "maxklema";
                }
                this.action = this.action + query;

            }

            let button = document.getElementById("menu-button")
            let mobile_header_menu = document.getElementsByClassName("mobile-hrefs")[0];

            function openMenu() {
                mobile_header_menu.style.display = "block";
            }

            function closeMenu() {
                let mobile_header_menu = document.getElementsByClassName("mobile-hrefs")[0];
                mobile_header_menu.style.display = "none";
            }

            window.addEventListener('resize', onWindowResize);

            
            
            function onWindowResize() {
                if (window.matchMedia("(max-width: 850px)").matches) {
                    document.getElementById("menu-button").removeAttribute("hidden");
                    document.getElementById("hamburger-icon").removeAttribute("hidden");
                } 
                
                else if (window.matchMedia("(min-width: 850px)").matches) {
                    document.getElementById("menu-button").setAttribute("hidden", "");
                    document.getElementById("hamburger-icon").setAttribute("hidden", "");
                }
            }
        </script>

        {% block content %}
            
        {% endblock %}


    </body>

    <footer>
        <div>
            <div>
                <div class="big-blue-copyright">
                    <img id="basic-golfer-image" src="{{ url_for('static', filename='logo_graphics/basicgolfergrey.png') }}" class="logo">
                    <p>© 2023 Big Blue. No Rights Reserved</p>
                </div>
                <div>
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/termsofservice">Terms of Service</a>
                    <a href="/privacypolicy">Privacy Policy</a>
                    <a href="/joincode">Join Match</a>
                    <a href="/login">Login</a>
                    <a href="/create_account">Sign Up</a>
                    <a href="https://twitter.com/bigbluegolfapp" id="twitter_href">Twitter</a>
                </div>


               
            </div>
            
        </div>

    </footer>









</html>

