


<!DOCTYPE html>


<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo graphics/favicon.ico') }}">

    </head>

    <body>

        <header>
            <a href="/">
                <img id="logo-image" src="{{ url_for('static', filename='logo graphics/BigBlue_NewLogo-White.png') }}" class="logo">
            </a>
            <ul class="navigation">
                <li><a href="/match_dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/dashboard">{{data.username}}</a></li>
                <li><a href=""><img id="profile-pic" src="{{ url_for('static', filename='logo graphics/user_photos/' + data.pic) }}" alt=""></a></li>
            </ul>
            <button id="menu-button" onclick="openMenu();" hidden><h1 class="mobile-navigation" id="hamburger-icon" style="color: white;" hidden>☰</h1></button>
                                            
        </header>

        <div class="mobile-hrefs">
            <div class="close-button-container">
                <button id="close-menu-button" onclick="closeMenu();"><h1>✕</h1></button>
            </div>
            <div class="content-container">
                <a href="/match_dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
                <a href="/dashboard">{{data.username}}</a>
                <a href=""><img id="profile-pic" src="{{ url_for('static', filename='logo graphics/user_photos/' + data.pic) }}" alt=""></a>
            </div>
    
        </div> 

        <script>
            let button = document.getElementById("menu-button")
            let mobile_header_menu = document.getElementsByClassName("mobile-hrefs")[0];

            function openMenu() {
                mobile_header_menu.style.display = "block";
            }

            function closeMenu() {
                let mobile_header_menu = document.getElementsByClassName("mobile-hrefs")[0];
                mobile_header_menu.style.display = "none";
            }

            window.addEventListener('resize', onWindowResize);

            function onWindowResize() {
                if (window.matchMedia("(max-width: 850px)").matches) {
                    document.getElementById("menu-button").removeAttribute("hidden");
                    document.getElementById("hamburger-icon").removeAttribute("hidden");
                } 
                
                else if (window.matchMedia("(min-width: 850px)").matches) {
                    document.getElementById("menu-button").setAttribute("hidden", "");
                    document.getElementById("hamburger-icon").setAttribute("hidden", "");
                }
            }
        </script>

        {% block content %}
            
        {% endblock %}

    
        










    </body>









</html>

