
<!DOCTYPE html>


<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo graphics/favicon.ico') }}">

    </head>

    <body>

        <header>
           
            <a id="imagehref" href="/">
                <img src="{{ url_for('static', filename='logo graphics/BigBlue_NewLogo-White.png') }}" class="logo">
            </a>
            
            <ul class="navigation">
                <li><a href="/joincode">Join Match</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About</a></li>
            </ul>

           


        </header>

        {% block content %}
            
        {% endblock %}

    
        










    </body>









</html>

