{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TLMVLX5EB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2TLMVLX5EB');
</script>

<title>Big Blue | Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">        

    <body>
        
        <div id="join-code-own-page-container" class="form-container">
            <form action="#" method="post">
                <img src="{{ url_for('static', filename='logo_graphics/newjoinicon.png') }}" alt="">
                {% if data %}
                <label for="joincode-box"><h6 style="color: red;">{{data}}</h6></label><br>
                {% endif %}
                <label for="joincode-box">Enter Join Code</label><br>
                <input placeholder="094x3a" type="text" id="joincode-box" name="code_entry"></input><br>
                <input type="submit" value="Join Match" name="submit-joincode" id="joincode-submit-button">
            </form>
        </div>


    </body>


{% endblock %}