
{% extends "indexcontent.html" %}

{% block content %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TLMVLX5EB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2TLMVLX5EB');
</script>

<!DOCTYPE html>

    <head>
        <title>Big Blue | Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylelogin.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='/logo_graphics/favicon.ico') }}">

    </head>

    <body>
        





        <div id="form-container">
            <form action="/login" method="post">
                <img src="{{ url_for('static', filename='logo_graphics/basicgolfer.png') }}" alt="">
                <h3>Sign in to Big Blue</h3>
                {% if message %}
                    <h5 id="error">{{message}}</h5>    
                {% endif %}
                <label for="username-box">Username</label><br>
                <input pattern="[a-zA-Z0-9]+" minlength="3" maxlength="15" type="text" name="username" id="username-box" onfocusout="UsernameToLower();"><br>
                <label for="password-box">Password</label><br>
                <input type="password" name="password" id="password-box"><br>
                <input type="submit" value="Login" id="form-submit">
            
            </form>

        </div>

        <div class="create-account-box-container">
            <div class="create-account-box">
                <h5>Don't have an account? <a href="/create_account">Create One</a></h5>
            </div>
        </div>

    </body>

    <script>
        function UsernameToLower(){
            let username = document.getElementById("username-box");
            username.value = username.value.toLowerCase();
        }

    </script>

                
{% endblock %}

