{% extends "indexcontent.html" %}
{% block content %}
<!DOCTYPE html>

    <head>
        <title>Big Blue | Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylelogin.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='/logo graphics/favicon.ico') }}">

    </head>

    <body>
        
        <div class="form-container">
            <form action="/login" method="post">
                <label for="username-box">Username</label><br>
                <input type="text" name="username" id="username-box"><br>
                <label for="password-box">Password</label><br>
                <input type="password" name="password" id="password-box"><br>
                <input type="submit" value="Login" id="form-submit">
            
            </form>

        </div>

    </body>
                
{% endblock %}