{% extends "indexcontent.html" %}
{% block content %}

<html>
        <head>
            <title>Big Blue | Match Dashboard</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/matchdashboard.css') }}">
        </head>

    <div class="main-container">
        <div class="grid-container">
            {% for item in data[::-1] %}
                <div class="match-container">
                    <div id="row-one">
                        <div>
                            <h3>Join Code: {{item.match_code}}</h3>
                        </div>
                        <div id="action-icons">
                            <a href="/edit_match/{{item.match_name}}"><img src="{{ url_for('static', filename='logo graphics/pencilicon.png') }}"></a>
                            <a href="/delete_match/{{item.match_name}}"><img src="{{ url_for('static', filename='logo graphics/trashcan.png') }}"></a>
                        </div>
                    </div>

                    <div class="row-div">
                        <div>
                            <h4>Name</h4>
                        </div>

                        <div>
                            <h4>{{item.match_name}}</h4>
                        </div>
                    </div>

                    <div class="row-div">
                        <div>
                            <h4>Event Type</h4>
                        </div>

                        <div>
                            <h4>{{item.event_type}}</h4>
                        </div>
                    </div>

                    <div class="row-div">
                        <div>
                            <h4>Match Type</h4>
                        </div>

                        <div>
                            <h4>{{item.match_type}}</h4>
                        </div>
                    </div>

                    <div class="row-div">
                        <div>
                            <h4>Home Team</h4>
                        </div>

                        <div>
                            <h4>{{item.teams1.split('~')[0]}}</h4>
                        </div>
                    </div>

                </div>        
            {% endfor %}
        </div>


    </div>

        
{% endblock %}
