{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TLMVLX5EB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2TLMVLX5EB');
</script>

<title>Entering Match | Big Blue </title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/player-spectator.css') }}">        

    <body>
        
        <div class="select-container">
            <div class="select">
                <h4>I am a..</h4>
                <a href="/spectator_match_view/{{match_data._id}}">
                    <img src="{{ url_for('static', filename='logo_graphics/person-icon.png') }}" alt="">
                    <h2>Spectator</h2>
                </a>
                <a href="/box_office/{{match_data._id}}">
                    <img src="{{ url_for('static', filename='logo_graphics/person-icon.png') }}" alt="">
                    <h2>Player</h2>
                </a>
            </div>
        </div>


    </body>


{% endblock %}