{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TLMVLX5EB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2TLMVLX5EB');
</script>

<!--
box for each person
edit button next to each hole
par
score in relation to par
+1 thru nine before expanding
kick players
match duration
refresh button
match statistics
    - overall running total
    - players completed
    - match code
message all players ()
- waiting
end match (side)

-->


<title>Match View | Big Blue</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/coach_match_view.css') }}">  
<div class="page-container-parent">    
    <div class="page-container">


        <!-- Match Play -->

        {% if playerdata['match_info']['gamemode'] == 'Match Play' %}

        <div class="player-cards">
            {% if playerdata['players'] is defined and playerdata['players']|length == 0 %}
                <div class="empty-lobby-section">
                    <img src="{{ url_for('static', filename='logo_graphics/empty-golf-cart-icon.png') }}" alt="">
                    <h5>When You Accept Players, They Will Show Up Here</h5>
                </div>    
            
            {% endif %}

            

            {% for player in playerdata['players'] %}
            
                {% if playerdata['players'][player]['team'] == playerdata['match_info']['home_team']%}
                <div class="match-card">
                        <summary>
                            <div class="card-header-info">

                            
                                <div >
                                    <h3 id="player-name">{{player | replace('%20', ' ') }}</h3>
                                    <h5 class="team_name_header" >{{playerdata['players'][player]['team']}}</h5>
                                </div>
                                
                                <div class="card-general-stats">
                                    
                                    {% if playerdata['players'][player]['opponent'] != "" %}
                                        <h3 id="match_status_h3_{{player}}"></h3>
                                            <script>
                                                fetch("/calc_match/{{playerdata['match_info']['id']}}/{{player}}/{{playerdata['players'][player]['opponent']}}")
                                                .then(response => response.text())
                                                .then(data => document.getElementById('match_status_h3_{{player}}').innerHTML = data);
                                            </script>
                                    {% else %}
                                        <h3 id="match_status_h3_{{player}}">No Opponent</h3>
                                   {% endif %}

                                </div>  

                                <div>
                                    <h3>{{playerdata['players'][player]['opponent']}}</h3>
                                    <h5 class="team_name_header" id="opponent_team_header">{{playerdata['match_info']['away_team']}}</h5>
                                </div>


                            </div>

                            <script>
                                function change_form_route() {
                                    // Get the selected opponent
                                    var opponent = document.getElementById("select_opponent").value;
                                    alert(opponent);
                            
                                    // Change the form action to include the selected opponent
                                    var form = document.getElementById("change_opponent_form");
                                    form.action = "/change_opponent/{{playerdata['match_info']['id']}}/{{player}}/" + opponent;
                                    alert(form.action)
                                    // Submit the form
                                    form.submit();
                            
                                    // Prevent the default form submission behavior
                                    return false;
                                }
                            </script>



                            
                            


                        </summary><details class="custom-details">
                            <summary>Score Details</summary>
                            {% set opponent = playerdata['players'][player]['opponent'] %}
                            {% set home_team = playerdata['match_info']['home_team']%}
                            {% set away_team = playerdata['match_info']['away_team']%}
                            {% for strokes in playerdata['players'][player]['scores'] %}
                                <div class="player-score-per-hole">
                                    <div>
                                        <p>Hole {{strokes}} (Par {{playerdata['match_info']['par' + strokes|string]}})</p>
                                    </div>
                                    
                                    <div>
                                        <div class="team-scores-inner-home">
                                            {% if active_player == player %}
                                                <p>{{playerdata['match_info']['home_team']}}</p>
                                                <input type="number" min="0" step="1" id="player_score_{{player}}_{{strokes}}" value="{{playerdata['players'][player]['scores'][strokes]}}">
                                                <a id="" href='' onclick="this.href = '/edit_score/{{playerdata['match_info']['id']}}/{{player}}/{{strokes}}/' + document.getElementById('player_score_{{player}}_{{strokes}}').value">Update</a>
                                            {% else %}
                                                <p>{{playerdata['match_info']['home_team']}}: <span style="color: #ca3e3e;">{{playerdata['players'][player]['scores'][strokes]}}</span></p>
                                            {% endif %}
                                        </div>
                                        {% if playerdata['players'][player]['opponent'] != "" %}
                                            <div class="team-scores-inner-away">
                                                {% if active_player == player %}
                                                    <p>{{playerdata['match_info']['away_team']}}</p>
                                                    <input type="number" id="player_score_{{opponent}}_{{strokes}}" value="{{playerdata['players'][opponent]['scores'][strokes]}}">
                                                    <a id="" href='' onclick="this.href = '/edit_score/{{playerdata['match_info']['id']}}/{{opponent}}/{{strokes}}/' + document.getElementById('player_score_{{opponent}}_{{strokes}}').value">Update</a>
                                                {% else %}
                                                    <p>{{playerdata['match_info']['away_team']}}: <span style="color: #ca3e3e;">{{playerdata['players'][opponent]['scores'][strokes]}}</span></p>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    
                                    
                                </div>    
                            {% endfor %}
                    </details>
                </div>
                {% endif %}
            {% endfor %}
        </div>


        <!-- Stroke Play -->

        {% elif playerdata['match_info']['gamemode'] == 'Stroke Play'%}

            <div class="player-cards">
                {% if playerdata['players'] is defined and playerdata['players']|length == 0 %}
                    <div class="empty-lobby-section">
                        <img src="{{ url_for('static', filename='logo_graphics/empty-golf-cart-icon.png') }}" alt="">
                        <h5>When Other Players Are Accepted, They Will Show Up Here</h5>
                    </div>    
                
                {% endif %}

                {% for player in playerdata['players'] %}
                <div class="match-card">
                        <summary>
                            <div class="card-header-info">
                                <div class="card-user-information">
                                    <h2>{{player | replace('%20', ' ') }}</h2>
                                </div>
                                <div class="card-general-stats">
                                    <h3 id="relation_to_par_h3_{{player}}"></h3>
                                </div>

                                <script>
                                    fetch("/calc_relation/{{playerdata['match_info']['id']}}/{{player}}")
                                    .then(response => response.text())
                                    .then(data => document.getElementById('relation_to_par_h3_{{player}}').innerHTML = data);
                                </script>
                            </div>
                            <h5>{{playerdata['players'][player]['team']}}</h5>
                        </summary><details class="custom-details">
                            <summary>Score Details</summary>
                            {% if active_player == player.replace('%20', ' ') %}
                                {% for strokes in playerdata['players'][player]['scores'] %}
                                    <div class="player-score-per-hole">
                                        <div class="player-score-per-hole-left-side">
                                            <p>Hole {{strokes}} (Par {{playerdata['match_info']['par' + strokes|string]}})</p>
                                            <input type="number" id="player_score_{{player}}_{{strokes}}" name="" value="{{playerdata['players'][player]['scores'][strokes]}}">
                                        </div>
                                        <a id="player_input_form" href='' onclick="this.href = '/edit_score/{{playerdata['match_info']['id']}}/{{player}}/{{strokes}}/' + document.getElementById('player_score_{{player}}_{{strokes}}').value">Update {{strokes}}</a>
                                    </div>    
                                {% endfor %}
                            {% else %}
                                {% for strokes in playerdata['players'][player]['scores'] %}
                                    <div class="player-score-per-hole">
                                        <div class="player-score-per-hole-left-side">
                                            <p>Hole {{strokes}} (Par {{playerdata['match_info']['par' + strokes|string]}})</p>
                                        </div>
                                        <p style="color: #ca3e3e;">{{playerdata['players'][player]['scores'][strokes]}}</p>
                                    </div>      
                                {% endfor %}
                            {% endif %}
                    
                    </details>
                </div>
                {% endfor %}
            </div>
            

        {% endif %}

        <!--Player Cards
        <div class="player-cards">
            {% if playerdata['players'] is defined and playerdata['players']|length == 0 %}
                <div class="empty-lobby-section">
                    <img src="{{ url_for('static', filename='logo_graphics/empty-golf-cart-icon.png') }}" alt="">
                    <h5>When Other Players Are Accepted, They Will Show Up Here</h5>
                </div>    
            
            {% endif %}

            {% for player in playerdata['players'] %}
            <div class="match-card">
                    <summary>
                        <div class="card-header-info">
                            <div class="card-user-information">
                                <h2>{{player}}</h2>
                            </div>
                            <div class="card-general-stats">
                                <h3 id="relation_to_par_h3_{{player}}"></h3>
                            </div>

                            <script>
                                fetch("/calc_relation/{{playerdata['match_info']['id']}}/{{player}}")
                                .then(response => response.text())
                                .then(data => document.getElementById('relation_to_par_h3_{{player}}').innerHTML = data);
                            </script>
                        </div>
                        <h5>{{playerdata['players'][player]['team']}}</h5>
                    </summary><details class="custom-details">
                        <summary>Score Details</summary>
                        {% if active_player == player %}
                            {% for strokes in playerdata['players'][player]['scores'] %}
                                <div class="player-score-per-hole">
                                    <div class="player-score-per-hole-left-side">
                                        <p>Hole {{strokes}} (Par {{playerdata['match_info']['par' + strokes|string]}})</p>
                                        <input type="number" id="player_score_{{player}}_{{strokes}}" name="" value="{{playerdata['players'][player]['scores'][strokes]}}">
                                    </div>
                                    <a id="player_input_form" href='' onclick="this.href = '/edit_score/{{playerdata['match_info']['id']}}/{{player}}/{{strokes}}/' + document.getElementById('player_score_{{player}}_{{strokes}}').value">Update {{strokes}}</a>
                                </div>    
                            {% endfor %}
                        {% else %}
                            {% for strokes in playerdata['players'][player]['scores'] %}
                                <div class="player-score-per-hole">
                                    <div class="player-score-per-hole-left-side">
                                        <p>Hole {{strokes}} (Par {{playerdata['match_info']['par' + strokes|string]}})</p>
                                    </div>
                                    <p style="color: #ca3e3e;">{{playerdata['players'][player]['scores'][strokes]}}</p>
                                </div>      
                            {% endfor %}
                        {% endif %}
                
                </details>
            </div>
            {% endfor %}
        </div>-->
        
        
        



        <div class="match-information">


            <!-- Coach Message -->
            <div class="code-container">
                <img src="{{ url_for('static', filename='logo_graphics/messageicon.png') }}" alt="">
                <h3>Message</h3>
                {% if not playerdata['message'] %}
                    <p>There is not a message from the coach yet.</p>
                {% else %}
                    <p style="color: #ca3e3e;">"{{playerdata['message'] | replace('%20', ' ') }}"</p>
                {% endif %}
    
            </div>

            <!-- Match Code Container -->
            <div class="code-container">
                <img id="code-img" src="{{ url_for('static', filename='logo_graphics/codeicon.png') }}" alt="">
                <h3 id="match-code-h3">Match Code: {{playerdata['match_info']['match_code']}}</h3>
                <p>Share this with other players and spectators to join the match!</p>
                <div>
                    <button onclick="copyText();" id="copy-code-button">❐ Copy Code</button>
                </div>
            </div>

            <!-- Match Password Container -->
            <div class="code-container">
                <img id="lock-img" src="{{ url_for('static', filename='logo_graphics/lock-icon.png') }}" alt="">
                <h3>Match Password: <span style="color: #2176e8;">{{playerdata['match_info']['match_password']}}</span></h3>
            </div>



            <!-- Match Statistics -->
            <div class="code-container">
                <img src="{{ url_for('static', filename='logo_graphics/statsicon.png') }}" alt="">
                <h3>Match Statistics</h3>
                <hr style="margin-bottom: 5px; margin-top: 5px;">
                {% for team in scoring_data %}
                    {% if playerdata['match_info']['gamemode'] == 'Stroke Play' %}
                        <div class="stat-container">
                            <h4>{{team[0]}} Score</h4>
                            <p>{{team[1]}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

    

            

        </div>
    </div>
</div>

    
    <script>
        //from W3 SCHOOLS
        function copyText() {
            let textToCopy = document.getElementById("match-code-h3").innerHTML;
            textToCopy = textToCopy.substring(12,18);
            navigator.clipboard.writeText(textToCopy);

            animateButton("copy-code-button");

        }

        function animateButton(button_id) {
            const button = document.getElementById(button_id);
            const originalText = button.innerHTML;
            const originalColor = button.style.backgroundColor;
            button.style.backgroundColor = "#0da50d";
            button.innerHTML = "Copied!";
            setTimeout(() => {
                button.style.backgroundColor = originalColor;
                button.innerHTML = originalText;
            }, 300);
        }
    </script>

        


    
          




    
        



{% endblock %}