{% extends "indexcontent.html" %}
{% block content %}

<head>
    <title>New Profile Picture | Big Blue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile-pic-animation.css') }}">
</head>



<div class="main-container">
    <div class="main-frame">
        <img id="profile-container" src="{{ url_for('static', filename='logo graphics/user_photos/' + data.pic) }}" alt="">
        <h2>Lookin' Good!</h2>
        <a href="/dashboard"><button>Continue</button></a>
    </div>



</div>


{% endblock %}