<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password | Big Blue</title>
</head>
<body>
    <form action="#" method="post">
        <label>Token found in email: </label>
        <input type="text" name="token-input">
        <br>
        <label>New password: </label>
        <input type="text" name="new-password-input">
        <br>
        <input type="submit">
    </form>
</body>
</html>