{% if data.rank == 'coach' %}
    {% extends "indexcontentcoachlogin.html" %}   
{% elif data.rank == 'player' %}
    {% extends "indexcontentplayerlogin.html" %}  
{% else %}
    {% extends "indexcontent.html" %}
{% endif %}
{% block content %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2TLMVLX5EB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2TLMVLX5EB');
    </script>

    <html>

    <head>
        <title>Reset Password | Big Blue</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset_password.css') }}">
    </head>

    <div class="form-container">
        <form id="reset-password-form" action="#" method="post">
            <img src="{{ url_for('static', filename='logo_graphics/lock-icon.png') }}" alt="">
            <h3>Reset BigBlue Password</h3>
            {% if message %}
                <h5 id="error">{{message}}</h5>    
            {% endif %}
            <label for="token-input">Token found in email</label>
            <input type="text" placeholder="EX: zB79Js" id="token-input" name="token-input">
            <br>

            <label for="new-password-input" >New password</label>
            <input type="password" minlength="3" maxlength="25" id="new-password-input" name="new-password-input">
            <br>

            <label for="confirm-new-password-input" >Confirm password</label>
            <input type="password" minlength="3" maxlength="25" id="confirm-new-password-input">
            <br>

            <input onclick="return confirm_password_match();" id="form-submit" value="Reset Password" type="submit">

        </form>
    </div>

    <div class="resend-verification-container">
        <div class="resend-verification">
            <h5>Don't see the email? <a href="/resend_password_reset_email/{{email}}">Resend new one</a></h5>
        </div>
    </div>

    <script>
        function confirm_password_match() {
            new_password = document.getElementById("new-password-input").value;
            confirm_new_password = document.getElementById("confirm-new-password-input").value;

            if ((new_password == confirm_new_password) && (document.getElementById("token-input").value != "")){
                return true;
            }
            else if (document.getElementById("token-input").value == ""){
                token_input_tag = document.getElementById("token-input")
                token_input_tag.style.borderColor = "red";
                return false;
            }
            else {
                token_input_tag = document.getElementById("token-input")
                token_input_tag.style.borderColor = "black";
                new_password_tag = document.getElementById("new-password-input");
                confirm_new_password_tag = document.getElementById("confirm-new-password-input");
                new_password_tag.style.borderColor = "red";
                confirm_new_password_tag.style.borderColor = "red";
                
                return false;
            }
        }


    </script>
    
    




</html>

{% endblock %}