@font-face {
    font-family: bigBlueBold;
    src: url(font/Poppins-Bold.ttf);
}

@font-face {
    font-family: bigBlueRegular;
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: bigBlueMedium;
    src: url(font/Poppins-Medium.ttf);
}

@font-face {
    font-family: bigBlueSemiBold;
    src: url(font/Poppins-SemiBold.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #eeeeee;
    font-family: bigBlueBold;
}


header {
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #2176e8;
    z-index: 10;
    padding: 8px 100px;
}

header .logo {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    background-color: #2176e8;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}

header a {
    text-decoration: none;
    background-color: #2176e8;
}


header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2176e8;
    border: none;
    text-decoration: none;
    font-family: bigBlueMedium;
}

header .navigation li {
    list-style: none;
    margin: 0px 15px;
    border: none;
    text-decoration: none;
    background-color: #2176e8;
    font-family: bigBlueMedium;
}

header .navigation li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background-color: #2176e8;
    font-family: bigBlueMedium;
    

}

header .navigation li a:hover {
    color: #F0F0FF;
    

}