@font-face {
    font-family: bigBlueBold;
    src: url(font/Poppins-Bold.ttf);
}

@font-face {
    font-family: bigBlueRegular;
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: bigBlueMedium;
    src: url(font/Poppins-Medium.ttf);
}

@font-face {
    font-family: bigBlueSemiBold;
    src: url(font/Poppins-SemiBold.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: bigBlueBold;
}


header {
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to right, #3185f3, #0c4999);
    z-index: 10;
    padding: 8px 100px;
}

header .logo {
    max-width: 180px;
    max-height: 180px;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}

header a {
    text-decoration: none;
    background-color: transparent;
}

.mobile-hrefs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    opacity: 0.98;
    background-color: #3185f3;
    display: none;
    transition: display 3.5s ease-in-out;
}


.mobile-hrefs .content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}


.mobile-hrefs .content-container a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

.mobile-hrefs .content-container a img {
    height: 100px;
    width: 100px;
    margin-top: 20px;
    object-fit: cover;
}

.close-button-container {
    display: flex;
    justify-content: right;
    padding: 20px 20px;
}

.close-button-container button {
    background-color: transparent;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    border: none;

}

.navigation li a img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: -15px;
    align-items: center;
    margin-top: 6px;
    object-fit: cover;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: transparent;
    border: none;
    text-decoration: none;
    font-family: bigBlueMedium;
    align-items: center;
}

header .mobile-navigation {
    display: none;
}

#menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;

}

header .navigation li {
    list-style: none;
    margin: 0px 15px;
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-family: bigBlueMedium;
    align-items: center;
}

header .navigation li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background-color: transparent;
    font-family: bigBlueMedium;
    

}

header .navigation li a:hover {
    color: #F0F0FF;
    

}



html, body {
    height: 100%;
    background-color: #eeeeee;
}

.heading-info h3 {
    font-size: 25px;
}

.heading-info p {
    font-size: 18px;
    font-family: bigBlueRegular
}

.heading-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 40px;
    padding-bottom: 5px;
    border-bottom: 0.25px solid rgb(201, 201, 201);
}

.hero-buttons a {
    padding: 8px 16px;
    background-color: #2176e8;
    text-decoration: none;
    color: white;
    border: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    margin-left: 20px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    height: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: 355px 355px 355px;
    row-gap: 50px;
    column-gap: 20px;
  }



.course-name-container {
    inline-size: 220px;
    overflow-wrap: break-word;
}

.location-container {
    inline-size: 160px;
    overflow-wrap: break-word;
}

.location-container h4 {
    text-align: right;
}


.main-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 1109px;
}

 .match-container{
    width: 355px;
    border-radius: 5px;
    background-color: white;
    padding: 20px 30px;
    
}

.match-container-live {
    width: 355px;
    border-radius: 5px;
    background-image: linear-gradient(to top, #e06d21, #ca3e3e);
    padding: 20px 30px;
    
}


.match-container h3 {
    background-color: white;
    overflow: hidden;
}

.match-container-live h3 {
    background-color: transparent;
    overflow: hidden;
    color: white;
}

.no-matches {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.no-matches img {
    height: 300px;
    width: 300px;
}

.no-courses {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.no-courses img {
    height: 300px;
    width: 300px;
}


#row-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 10px;
    border-bottom: 0.25px solid rgb(180, 180, 180);
    overflow: hidden;
}

#row-one div {
    background-color: white;
    overflow: hidden;
}


#row-one-live {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    padding-bottom: 10px;
    border-bottom: 0.25px solid rgb(238, 236, 236);
    overflow: hidden;
    align-items: center;


}

#row-one-live div {
    background-color: transparent;
    overflow: hidden;
}

#live-message h4 {
    background-color: white;
    padding: 2px 4px;
    border-radius: 5px;
}

.row-div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 10px;
    overflow: hidden;
}

.row-div div {
    background-color: white;
    overflow: hidden;
}

.row-div div h4 {
    background-color: white;
    font-family: bigBlueRegular;
    overflow: hidden;
    font-size: 16px;
}

.row-div-live {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    padding-bottom: 10px;
    overflow: hidden;
}

.row-div-live div {
    background-color: transparent;
    overflow: hidden;
}

.row-div-live div h4 {
    background-color: transparent;
    font-family: bigBlueRegular;
    overflow: hidden;
    font-size: 16px;
    color: white;
}


#button-begin:hover {
    background-color: #1d6ace;
}

#action-icons a img {
    width: 25px;
    height: 25px;
    background-color: white;
    margin-left: 5px;
}

#action-icons {
    background-color: white;
}

#action-icons a {
    background-color: white;  
}


#start-match-button {
    width: 100%;
    background-color: #2176e8;
    color: white;
    border: none;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 5px 5px;
}

#live-match-button {
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 5px 5px;
}

@media (max-width: 1400px){
    .grid-container{
        grid-template-columns: auto auto;
        row-gap: 40px;
    }
    .main-container {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 730px;
    }
    
}

@media (max-width: 891px){
    .grid-container{
        grid-template-columns: auto;
        row-gap: 30px;
    }
    .main-container {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 355px;
    }
    .heading-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 0.25px solid rgb(201, 201, 201);
    }

    .heading-info h3 {
        text-align: center;
    }

    .heading-info p {
        text-align: center;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .hero-buttons a {
        width: 315px;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 850px){
    header .navigation {
        display: none;
    }

    .mobile-navigation {
        display: block;
    }
    #menu-button {
        visibility: visible;
        display: block;
    }
    #hamburger-icon {
        display: block;
    }
}


@media (max-width: 600px){
    header {
        padding: 8px 40px;
    }
}







