@font-face {
    font-family: bigBlueBold;
    src: url(Montserrat-Bold.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: BigBlueBold;
}

form {
    padding: 10px;
    line-height: 1.5;
}

header {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #2176e8;
    z-index: 10;
    padding: 4px 100px;
}

header .logo {
    max-width: 200px;
    max-height: 200px;
    position: relative;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 30px;
}

header .navigation li {
    list-style: none;
    margin: 0px 15px;
}

header .navigation li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    

}

header .navigation li a:hover {
    color: #F0F0FF;
    

}


footer  {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgba(5, 20, 39, 0.699);
    width: 100%;
    z-index: 9;
    padding: 5px 100px;

}

footer .logofooter {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    padding: 2px 20px;

}

footer .footertext {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
}

footer .footertext p{
   color: white;
   font-size: .7em;
}

footer .footertext p:hover{
    color: #F0F0FF;
    cursor: pointer;
 }


html, body {
    height: 100%;
}

#container {
    position: relative;
    min-height: 97.7%;

}

.main {
    overflow: auto;
    padding-top: 90px;
    padding-bottom: 100px;
}

.joincode {
    max-height: 1000px;
    width: 300px;
    background-color: #1B63C2;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #F0F0FF;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
}

.joincode-container {
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
}

.joinimage img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.matchdetail-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.matchdetail {
    max-height: 1000px;
    width: 500px;
    background-color: #1B63C2;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #F0F0FF;
    text-align: center;
}

.matchcontent-container {
    display: flex;
    justify-content: center;
    padding: 0px;
    text-align: left;

}

.matchcontent {
    max-height: 900px;
    width: 95%;
    background-color: #1B63C2;
    text-align: left;

}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}


.header-container img {
    height: 30px;
    width: 30px;
}


.eventtype-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}


.matchttype-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.hometeam-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.starttime-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.endtime-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.awayteam-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.total-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.course-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}


.joined-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.grid-container {
    display: grid;
    column-gap: 50px;
    row-gap: 100px;

  }





#creatematchbutton {
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    margin-top: 25px;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#creatematchbutton:hover {
    cursor: pointer;
    background-color: #cfcfdb;
}































@media (max-width: 723px){
    header {
        padding: 4px 15px;
        flex-direction: row;
    }

    header .logo {
        padding: 8px 20px;
    }
}

@media (max-width: 500px){
    header {
        padding: 4px 15px;
        flex-direction: column;
    }

    .main {
        padding-top: 110px;
    }

    header .logo {
        max-width: 200px;
        max-height: 200px;
        position: relative;
        padding: 2px 10px;
    }
}

@media (max-width: 781px){
    footer {
        padding: 4px 15px;
        flex-direction: column; 
    }
}

@media (max-width: 300px){
    .main {
        padding-top: 130px;
    }
}

@media (max-width: 1000px){
    footer {
        padding: 4px 10px;

    }
}

@media (max-width: 216px){
    header .logo {
       max-width: 100px;
       max-height: 100px;
    }
}

@media (max-width: 178px){
    header .logo {
       max-width: 75px;
       max-height: 75px;
    } 


}

