@font-face {
    font-family: bigBlueBold;
    src: url(font/Poppins-Bold.ttf);
}

@font-face {
    font-family: bigBlueRegular;
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: bigBlueMedium;
    src: url(font/Poppins-Medium.ttf);
}

@font-face {
    font-family: bigBlueSemiBold;
    src: url(font/Poppins-SemiBold.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #eeeeee;
    font-family: bigBlueBold;
}


header {
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #2176e8;
    z-index: 10;
    padding: 8px 100px;
}

header .logo {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    background-color: #2176e8;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}

header a {
    text-decoration: none;
    background-color: #2176e8;
}


header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2176e8;
    border: none;
    text-decoration: none;
    font-family: bigBlueMedium;
}

header .navigation li {
    list-style: none;
    margin: 0px 15px;
    border: none;
    text-decoration: none;
    background-color: #2176e8;
    font-family: bigBlueMedium;
}

header .navigation li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background-color: #2176e8;
    font-family: bigBlueMedium;
    

}

header .navigation li a:hover {
    color: #F0F0FF;
    

}

.main-container {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    margin-bottom: 5%;
}

.profile-frame {
    width: 710px;
    background-color: white;
    border-radius: 5px;
}

.banner-container {
    width: 710px;

}

#banner {
    max-width: 710px;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}

#profilepicture {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border: 7px solid white;
    background-color: white;
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: -80px;
}

.username-and-verification-container h3 {
    background-color: white;
}

.username-and-verification-container img {
    height: 17px;
    width: 17px;
    background-color: white;
    margin-left: 5px;

}

.username-and-verification-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    align-items: center;
    margin-top: 5px;
}

.username-and-rank-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    align-items: center;
}

.username-and-rank-container h4 {
    background-color: white;
    color: #5e5e5e;
}

#divider {
    margin-left: 3px;
    margin-right: 3px;
}

.bio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bio-container p {
    background-color: white;
    font-family: bigBlueRegular;
}

.join-date-and-school-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 0px 0px 5px 5px;
}

.join-date-and-school-container img {
    background-color: white;
    height: 20px;
    width: 20px;
}

.join-date-and-school-container h4 {
    background-color: white;
    font-family: bigBlueMedium;
}

#join-date {
    margin-left: 10px;
    margin-right: 15px;
}

#school-icon {
    margin-right: 10px;
    margin-left: 15px;
}

.row-one-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 30px;
    border-top: 0.25px solid rgb(200, 200, 200)
}

.row-one-buttons button {
    background-color: transparent;
    height: 50px;
    width: 250px;
    border: 0.5px solid #2176e8;
    cursor: pointer;
}

.row-one-buttons button h3 {
    background-color: transparent;
}

.row-one-buttons button img {
    height: 25px;
    background-color: transparent;
    width: 25px;
}

#create-match-href {
    background-color: #2176e8;
}

#match-dashboard-href {
    background-color: #2176e8;
}

.match-dashboard-container {
    display: flex;
    justify-content: center;
    padding: 0px 30px;
    flex-direction: row;
    align-items: center;
    background-color: #2176e8;
    color: white;
}

#create-match-href button h3 {
    text-align: center;
    color: white;
    background-color: #2176e8;
}

.row-two-buttons button {
    background-color: transparent;
    height: 50px;
    width: 250px;
    border: 0.5px solid #2176e8;
    cursor: pointer;
}

.row-two-buttons button h3 {
    background-color: transparent;
}

.row-two-buttons button img {
    height: 27px;
    background-color: transparent;
    width: 27px;
}

.row-two-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    border-radius: 0px 0px 5px 5px;
}

.add-new-course-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #2176e8;
    align-items: center;
    color: white;
}

.edit-profile-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #2176e8;
    align-items: center;
    color: white;
}

#dashboard-icon{
    height: 30px;
    width: 30px;  
}

#edit-profile-href{
    background-color: #2176e8;
}

#add-new-course-href {
    background-color: #2176e8;
}

@media (max-width: 765px){
    .banner-container {
        width: 500px;
    }
    
    #banner {
        max-width: 500px;
        background-color: white;
        border-radius: 5px 5px 0px 0px;
    }

    .profile-frame {
        width: 500px;
        background-color: white;
        border-radius: 5px;
    }
    .row-one-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-top: 0.25px solid rgb(200, 200, 200)
    }
    
    .row-one-buttons button {
        background-color: transparent;
        height: 50px;
        width: 200px;
        border: 0.5px solid #2176e8;
        cursor: pointer;
    }
    .row-two-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
        padding-top: 0px;
    }
    
    .row-two-buttons button {
        background-color: transparent;
        height: 50px;
        width: 200px;
        border: 0.5px solid #2176e8;
        cursor: pointer;
    }
    .username-and-verification-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        padding: 0px 30%;
        align-items: center;
        margin-top: 5px;
    }

    .username-and-verification-container img {
        margin-left: 5px;
    }
    
    
}

@media (max-width: 550px){
    .banner-container {
        width: 355px;
    }
    
    #banner {
        max-width: 355px;
        background-color: white;
        border-radius: 5px 5px 0px 0px;
    }

    .profile-frame {
        width: 355px;
        background-color: white;
        border-radius: 5px;
    }
    .row-one-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-top: 0.25px solid rgb(200, 200, 200)
    }
    
    .row-one-buttons button {
        background-color: transparent;
        height: 50px;
        width: 200px;
        border: 0.5px solid #2176e8;
        cursor: pointer;
    }
    .row-two-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
        padding-top: 0px;
    }
    
    .row-two-buttons button {
        background-color: transparent;
        height: 50px;
        width: 200px;
        border: 0.5px solid #2176e8;
        cursor: pointer;
    }

    .username-and-verification-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        align-items: center;
        margin-top: 5px;
        padding-left: 2%;
        padding-right: 2%;
    }


    .username-and-verification-container img {
        margin-left: 5px;
    }
    .username-and-verification-container h3 {
        font-size: 20px;
    }

    #create-match-href {
        margin-top: 20px;
    }

    #edit-profile-href {
        margin-top: 20px;
    }

}










