@font-face {
    font-family: bigBlueBold;
    src: url(font/Poppins-Bold.ttf);
}

@font-face {
    font-family: bigBlueRegular;
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: bigBlueMedium;
    src: url(font/Poppins-Medium.ttf);
}

@font-face {
    font-family: bigBlueSemiBold;
    src: url(font/Poppins-SemiBold.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: bigBlueBold;
}


header {
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to right, #3185f3, #0c4999);
    z-index: 10;
    padding: 8px 100px;
}

header .logo {
    max-width: 180px;
    max-height: 180px;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}


header a {
    text-decoration: none;
    background-color: transparent;
}

.navigation li a img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: -15px;
    align-items: center;
    margin-top: 6px;
    object-fit: cover;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: transparent;
    border: none;
    text-decoration: none;
    font-family: bigBlueMedium;
    align-items: center;
}

header .navigation li {
    list-style: none;
    margin: 0px 15px;
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-family: bigBlueMedium;
    align-items: center;
}

header .navigation li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background-color: transparent;
    font-family: bigBlueMedium;
    

}



header .navigation li a:hover {
    color: #F0F0FF;
    

}

html, body {
    height: 100%;
    background-color: #eeeeee;
}
.main-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.main-frame {
    width: 355px;
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
}

#profile-container {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-top: 20px;
    object-fit: cover;

}

.main-frame h2 {
    text-align: center;
    margin-top: 20px;
    background-color: white;
}

.main-frame a button {
    margin-top: 20px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: white;
    background: #2176e8;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    font-family: bigBlueBold;
}

.main-frame a {
    text-decoration: none;
}

