
@font-face {
    font-family: BigBlueBold;
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: BigBlueNormal;
    src: url(Montserrat-Regular.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: BigBlueBold;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.main {
    overflow: auto;
    padding-top: 90px;
    padding-bottom: 100px;
}

header {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #2176e8;
    z-index: 10;
    padding: 4px 100px;
}

header .logo {
    max-width: 200px;
    max-height: 200px;
    position: relative;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 30px;
}

header .navigation li {
    list-style: none;
    margin: 0px 15px;
}

header .navigation li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    

}

header .navigation li a:hover {
    color: #F0F0FF;
    

}


footer  {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgba(5, 20, 39, 0.699);
    width: 100%;
    z-index: 9;
    padding: 5px 100px;

}

footer .logofooter {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    padding: 2px 20px;

}

footer .footertext {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
}

footer .footertext p{
   color: white;
   font-size: .7em;
}

footer .footertext p:hover{
    color: #F0F0FF;
    cursor: pointer;
    z-index: 2;
 }


html, body {
    height: 100%;
}

#container {
    position: relative;
    min-height: 100%;
    
    

}

footer  {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgba(5, 20, 39, 0.699);
    width: 100%;
    z-index: -1;
    padding: 5px 100px;
    clear: both;

}

.page-container { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.mainsection {
    width: 700px;
    height: 2000px;
    background-color: rgb(235, 235, 235);
    margin-right: 50px;
    border-radius: 10px;
    

}

#banner {
    height: 200px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    object-fit: cover;
    
   
}

.profilepicture-container {
    display: flex;
    justify-content: center;
}


#profilepicture {
    width: 130px;
    object-fit: cover;
    height: 130px;
    border-radius: 100%;
    transform: translateY(-65px);
    position: absolute;
    box-shadow: rgb(235, 235, 235) 0px 0px 0px 10px;
}

.sidesection {
    width: 400px;
    height: 200px;
    background-color: rgb(235, 235, 235);
}

.name-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
}

.name-container img {
    width: 26px;
    height: 26px;
    margin-left: 5px;
}

#username {
    text-align: center;
}

#bio {
    padding: 15px 10px;
    text-align: center;
    font-family: BigBlueNormal;
}

.edit-profile-container {
    display: flex;
    justify-content: right;
    padding-right: 20px;

}

.edit-profile-container button{
    position: absolute;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    font-size: 1.2em;
    background-color: #2176e8;
    color: #F0F0FF;
}


.edit-profile-container button:hover{
    background-color: #1a60bd;
    cursor: pointer;
}


.profileinfo {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}

.calender {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

.calender img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.school {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.school img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}









@media (max-width: 500px){
    header {
        padding: 4px 15px;
        flex-direction: column;
    }

    .main {
        padding-top: 110px;
    }

    header .logo {
        max-width: 200px;
        max-height: 200px;
        position: relative;
        padding: 2px 10px;
    }
}

@media (max-width: 781px){
    footer {
        padding: 4px 15px;
        flex-direction: column; 
    }
}

@media (max-width: 300px){
    .main {
        padding-top: 130px;
    }
}

@media (max-width: 1000px){
    footer {
        padding: 4px 10px;

    }
}

@media (max-width: 216px){
    header .logo {
       max-width: 100px;
       max-height: 100px;
    }
}

@media (max-width: 178px){
    header .logo {
       max-width: 75px;
       max-height: 75px;
    } 

}







