@font-face {
    font-family: bigBlueBold;
    src: url(font/Poppins-Bold.ttf);
}

@font-face {
    font-family: bigBlueRegular;
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: bigBlueMedium;
    src: url(font/Poppins-Medium.ttf);
}

@font-face {
    font-family: bigBlueSemiBold;
    src: url(font/Poppins-SemiBold.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: bigBlueBold;
}


header {
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to right, #3185f3, #0c4999);
    z-index: 10;
    padding: 8px 100px;
}

header .logo {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}

header a {
    text-decoration: none;
    background-color: transparent;
}

.navigation li a img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: -15px;
    align-items: center;
    margin-top: 6px;
    object-fit: cover;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: transparent;
    border: none;
    text-decoration: none;
    font-family: bigBlueMedium;
    align-items: center;
}

header .navigation li {
    list-style: none;
    margin: 0px 15px;
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-family: bigBlueMedium;
    align-items: center;
}

header .navigation li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background-color: transparent;
    font-family: bigBlueMedium;
    

}



header .navigation li a:hover {
    color: #F0F0FF;
    

}

html, body {
    height: 100%;
    background-color: #eeeeee;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

body form {
    width: 690px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 5px;
}

body form div div input {
    height: 40px;
    width: 300px;
    padding: 5px;
    font-size: 20px;
    border: 0.25px solid black;
    background-color: white;
    font-family: bigBlueMedium;
}

body form div div label {
    background-color: white;
}

.full-name {
    display: flex;
    flex-direction: column;
    background-color: white;
}


.full-username {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.row-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
}

.full-password-one {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.full-password-two {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.row-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
}

.full-email {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.full-gender {
    display: flex;
    flex-direction: column;
    background-color: white;
}


.row-three{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
}

.full-gender select {
    height: 40px;
    width: 300px;
    padding: 5px;
    font-size: 20px;
    border: 0.25px solid black;
    background-color: white;
    font-family: bigBlueMedium;
}

.full-gender select option {
    font-family: bigBlueMedium;
}

.row-four{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
}

.full-team {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.full-rank select {
    height: 40px;
    width: 300px;
    padding: 5px;
    font-size: 20px;
    border: 0.25px solid black;
    background-color: white;
    font-family: bigBlueMedium;
}

.full-rank select option {
    font-family: bigBlueMedium;
}

.full-rank {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.row-five{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
}

.row-five textarea {
    width: 100%;
    height: 100px;
    background-color: white;
    resize: none;
    padding: 5px 10px;
    font-family: bigBlueMedium;
    font-size: 15px;
    border: 0.25px solid black;
}

.row-five label {
    background-color: white;
}

#form-submit {
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: white;
    background: #2176e8;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#error {
    background-color: white;
    color: red;
    text-align: center;
    margin-bottom: 10px;
    font-family: bigBlueSemiBold;
}


#form-submit:hover {
    background-color: #1b6cd7;
}

.form-container form h3 {
    font-size: 20px;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
    display: block;
}

.form-container form img {
    background-color: white;
    height: 73.5px;
    width: 45px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 20px;
}

#password-error {
    font-size: 13px;
    color: red;
    font-family: bigBlueSemiBold;
    display: none;
}

#full-name-error {
    font-size: 13px;
    color: red;
    font-family: bigBlueSemiBold;
    display: none;
}

#full-username-error {
    font-size: 13px;
    color: red;
    font-family: bigBlueSemiBold;
    display: none;
}

#email-error {
    font-size: 13px;
    color: red;
    font-family: bigBlueSemiBold;
    display: none;
}

#team-error {
    font-size: 13px;
    color: red;
    font-family: bigBlueSemiBold;
    display: none;
}

#bio-error {
    font-size: 13px;
    color: red;
    font-family: bigBlueSemiBold;
    display: none;
}

@media (max-width: 736px){
    .row-one {
        flex-direction: column;
    }
    .full-name {
        margin-bottom: 20px;
    }
    .row-two {
        flex-direction: column;
    }
    .full-password-one {
        margin-bottom: 20px;
    }
    .row-three {
        flex-direction: column;
    }
    .full-email {
        margin-bottom: 20px;
    }
    .row-four {
        flex-direction: column;
    }
    .full-team {
        margin-bottom: 20px;
    }
    body form {
        width: 355px;
    }


}