@font-face {
    font-family: bigBlueBold;
    src: url(font/Poppins-Bold.ttf);
}

@font-face {
    font-family: bigBlueRegular;
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: bigBlueMedium;
    src: url(font/Poppins-Medium.ttf);
}

@font-face {
    font-family: bigBlueSemiBold;
    src: url(font/Poppins-SemiBold.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: bigBlueBold;
}


header {
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to right, #3185f3, #0c4999);
    z-index: 10;
    padding: 8px 100px;
}

header .logo {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}

header a {
    text-decoration: none;
    background-color: transparent;
}

.navigation li a img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: -15px;
    align-items: center;
    margin-top: 6px;
    object-fit: cover;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: transparent;
    border: none;
    text-decoration: none;
    font-family: bigBlueMedium;
    align-items: center;
}

header .navigation li {
    list-style: none;
    margin: 0px 15px;
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-family: bigBlueMedium;
    align-items: center;
}

header .navigation li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background-color: transparent;
    font-family: bigBlueMedium;
    

}



header .navigation li a:hover {
    color: #F0F0FF;
    

}

html, body {
    height: 100%;
    background-color: #eeeeee;
}

#error {
    background-color: white;
    color: red;
    text-align: center;
    margin-bottom: 10px;
    font-family: bigBlueSemiBold;
}

#form-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 20px;
}

#form-container form {
    width: 355px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 5px;
}

#username-box {
    height: 40px;
    width: 300px;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 0.25px solid black;
    background-color: white;
    font-family: bigBlueMedium;
}

#password-box {
    height: 40px;
    width: 300px;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 0.25px solid black;
    background-color: white;
    font-family: bigBlueMedium;
}

#form-container label {
    background-color: white;
}

#form-submit {
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: white;
    background: #2176e8;
    border: none;
    cursor: pointer;
}

#form-submit:hover {
    background-color: #1b6cd7;
}

#form-container form img {
    background-color: white;
    height: 73.5px;
    width: 45px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 20px;
}

#form-container h3 {
    font-size: 20px;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
}

.create-account-box-container {
    display: flex;
    margin-bottom: 5%;
    justify-content: center;
}

.create-account-box {
    border-radius: 5px;
    width: 355px;
    padding: 20px 30px;
    background-color: white;
}

.create-account-box h5 {
    background-color: white;
    text-align: center;
    font-family: bigBlueSemiBold;
}

.create-account-box h5 a {
    background-color: white;
    text-align: center;
    color: #2176e8;
    font-family: bigBlueSemiBold;
}