@font-face {
    font-family: bigBlueBold;
    src: url(Montserrat-Bold.ttf);
}

.mainheader{
    background-color: #2176E8;
    height: 55px;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    right: 0;
   

}

#logo {
    height: auto; 
    width: auto; 
    max-width: 170px; 
    max-height: 170px;
    padding-left: 10%;
    margin-top: 2px;
}

#about {
    width: 80px;
    height: 35px;
    border-radius: 10px;
    color: #1B63C2;
    background-color: #F0F0FF;
    float: right;
    margin-right: 10%;
    margin-top: 10px;
    border: none;
    font-family: bigBlueBold;
    cursor: pointer;
}
    
    


#login {
    width: 80px;
    height: 35px;
    border-radius: 10px;
    color: #1B63C2;
    background-color: #F0F0FF;
    float: right;
    margin-right: 2%;
    margin-top: 10px;
    border: none;
    font-family: bigBlueBold;
    cursor: pointer;

  
}

.footer {
    background-color: rgba(5, 20, 39, 0.699);
    height: 45px;
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

#logofooter {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
    padding-left: 10%;
    margin-top: 7px;
    display: inline-block;
}

#textfooter {
    font-family: bigBlueBold;
    font-size: 10px;
    color: #F0F0FF;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    margin-left: 2%;


}

body {
    font-family: bigBlueBold;
}
